<div class="container-conferencistas">
    <div class="row">
        <div class="col-3">
            <img src="https://cdn.somosunogo.com/1Story-Gorilas.jpg" />
        </div>
        <div class="col-3">
            <img src="https://cdn.somosunogo.com/2Story_Halcones.jpg" />
        </div>
        <div class="col-3">
            <img src="https://cdn.somosunogo.com/3Story_leones.jpg" />
        </div>
        <div class="col-3">
            <img src="https://cdn.somosunogo.com/4Story_Tiburones.jpg" />
        </div>
    </div>
</div>