<div class="container-conferencistas">
    <div class="row">
        <div class="col-3">
            <img src="../../../../assets/tribus/1Story-Gorilas.jpg" />
        </div>
        <div class="col-3">
            <img src="../../../../assets/tribus/2Story_Halcones.jpg" />
        </div>
        <div class="col-3">
            <img src="../../../../assets/tribus/3Story_leones.jpg" />
        </div>
        <div class="col-3">
            <img src="../../../../assets/tribus/4Story_Tiburones.jpg" />
        </div>
    </div>
</div>