<div class="container-talleres">

    <div class="container-tab">

        <div class="container-nav">

            <nav class="nav nav-justified">
                <a class="nav-item nav-link divisor font-family-poppins" [ngClass]="{ 'activated' : tab == 'taller1' }"
                    (click)="changeTab('taller1');">
                    Taller 1
                </a>
                <a class="nav-item nav-link divisor font-family-poppins" [ngClass]="{ 'activated' : tab == 'taller2' }"
                    (click)="changeTab('taller2');">
                    Taller 2
                </a>
                <a class="nav-item nav-link font-family-poppins" [ngClass]="{ 'activated' : tab == 'taller3' }"
                    (click)="changeTab('taller3');">
                    Taller
                    3
                </a>
            </nav>

        </div>

    </div>

    <div class="content-talleres">

        <div class="title-talleres">Sala de Zoom</div>

        <div class="container-salas">

            <div class="box-talleres">

                <div class="display-content">

                    <div class="container-image">

                        <figure class="image is-128x128">
                            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                        </figure>
                        
                    </div>

                    <div class="sala-content">
                        <div>
                            Sala Test
                        </div>
                        <div>
                            Sala Test
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="title-talleres">Video Live</div>

        <div class="container-video-t">

            <div class="box-talleres">

                <iframe width="100%" height="400" src="https://www.youtube.com/embed/xQziC4BzGAM" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>

            </div>

        </div>


    </div>


</div>