<div class="footer w-100">
    <div class="content-nets">
        <p class="follow">{{ 'footer.siguenos' | translate }} </p>
        
        <div style="display:flex">
            <div class="nets">
                <a href="https://www.instagram.com/visiong12/" target="_blank">
                    <img src="https://cdn.somosunogo.com/INSTA.png" width="30px">
                </a>
            </div>
            <div class="nets">
                <a href="https://twitter.com/VisionG12" target="_blank">
                    <img src="https://cdn.somosunogo.com/Tw.png" width="34px">
                </a>
            </div>
            <div class="nets">
                <a href="https://www.facebook.com/visiong12" target="_blank">
                    <img src="https://cdn.somosunogo.com/FB.png" width="30px">
                </a>
            </div>
            <div class="nets">
                <a href="http://www.youtube.com/user/g12tv" target="_blank">
                    <img src="https://cdn.somosunogo.com/YT.png" width="40px">
                </a>
            </div>
        </div>
        
    </div>
</div>
