<div class="footer w-100">
    <div class="content-nets">
        <p class="follow">SÍGUENOS EN: </p>
        
        <div style="display:flex">
            <div class="nets">
                <a href="https://www.instagram.com/somosunogo" target="_blank">
                    <img src="../../../assets/logs/INSTA.png" width="30px">
                </a>
            </div>
            <div class="nets">
                <a href="https://twitter.com/mcisomosuno/" target="_blank">
                    <img src="../../../assets/logs/Tw.png" width="34px">
                </a>
            </div>
            <div class="nets">
                <a href="https://www.facebook.com/mcisomosuno/" target="_blank">
                    <img src="../../../assets/logs/FB.png" width="30px">
                </a>
            </div>
            <div class="nets">
                <a href="https://www.youtube.com/channel/UC2whaAP8Vfn58raV5OWV95Q?sub_confirmation=1" target="_blank">
                    <img src="../../../assets/logs/YT.png" width="40px">
                </a>
            </div>
        </div>
        
    </div>
</div>
