.footer{
    background: #1C1C1C;
    height: calc(6em + 8vw);
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-nets{
    display: flex;
    font-weight: bold;
    font-size: 23px;
    color: white;    
}
.nets{
    margin-left: 4vw;
    margin-right: 4vw;
}
@media screen and (max-width:700px){
    .content-nets{
        display: block;
        text-align: center;
    }    
}