<div class="row">
    <div class="col-6">
        <a href="https://recursoscristianos.co/categoria-producto/merch/merch-somos-uno/" target="_blank">
            <img src="https://cdn.somosunogo.com/soonmerch1.png" style="float: right;" />
        </a>
    </div>
    <div class="col-6">
        <a href="https://recursoscristianos.co/categoria-producto/merch/merch-somos-uno/" target="_blank">
            <img src="https://cdn.somosunogo.com/soonmerch2.png" />
        </a>
        
    </div>
</div>