<div class="container-conferencistas">
    <img src="https://cdn.somosunogo.com/invitado1.png">
    <img src="https://cdn.somosunogo.com/invitado2.png">
    <img src="https://cdn.somosunogo.com/invitado3.png" style="display: none;">
    <img src="https://cdn.somosunogo.com/invitado4.png">
    <img src="https://cdn.somosunogo.com/invitado5.png">
    <img src="https://cdn.somosunogo.com/invitado6.png">
    <img src="https://cdn.somosunogo.com/invitado7.png">
    <img src="https://cdn.somosunogo.com/invitado8.png">
    <img src="https://cdn.somosunogo.com/invitado9.png">
    <img src="https://cdn.somosunogo.com/invitado10.png">
    <img src="https://cdn.somosunogo.com/invitado11.png">
</div>