<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="" href="#">
        <img src="https://cdn.somosunogo.com/goo.png" class="logoNavbar">
    </a>
    <div class="collapse navbar-collapse navbar-dark" id="navbarTogglerDemo01">
        <div class="menuNavbar">
            <div class="allNets">
                <a href="https://www.instagram.com/somosunogo" class="netLink">
                    <img src="https://cdn.somosunogo.com/INSTA.png" class="nets" width="25px">
                </a>
                <a href="https://www.facebook.com/mcisomosuno/" class="netLink">
                    <img src="https://cdn.somosunogo.com/FB.png" class="nets" width="26px">
                </a>
                <a href="https://www.youtube.com/channel/UC2whaAP8Vfn58raV5OWV95Q?sub_confirmation=1" class="netLink">
                    <img src="https://cdn.somosunogo.com/YT.png" class="nets" width="32px">
                </a>
            </div>
        </div>
    </div>
    <a class="btnRegister" (click)="openLogin();" style="display: none;">
        <div class="btn here">
            {{ 'home.iniciar-sesion' | translate }}
        </div>
    </a>
</nav>
<!--  -->
<div class="banner">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">
            <img src="https://cdn.somosunogo.com/logo_fecha.png" class="img-left-banner" />
        </div>
        <div class="col-2">
        </div>
    </div>
</div>
<!--  -->
<div class="row btn-bar">
    <div class="col-6">
        <button class="btnVerify" (click)="openModalvalidate()">{{ 'home.confirmar-registro' | translate }}</button>
    </div>
    <div class="col-6">
        <button class="btnRegisterBanner" (click)="openCloseModal()">{{ 'home.registrate' | translate }}</button>
    </div>

</div>
<div class="section introducing">
    <div class="row">

        <div class="col-2"></div>
        <div class="col-8">

            <img src="https://cdn.somosunogo.com/amor_accion.jpg" class="amor_accion" />
            <div class="content_side">
                <p>{{ 'home.versiculo' | translate }}</p>
                <p>{{ 'home.descripcion' | translate }}</p>
                <p class="title_footer">Lau & Sara Pastores</p>
                <p class="title_footer">{{ 'home.descripcion-nombre' | translate }}</p>
            </div>
            <div class="vdeo_set">
                <iframe class="iframevideo" src="https://www.youtube.com/embed/oj7hcXvuQBI" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-2">

        </div>

    </div>
</div>
<div class="backBlack"></div>
<div class="how">
    <div class="container">
        <div class="row">
            <img src="https://cdn.somosunogo.com/title_subcontent.png" class="title_subcontent">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="https://cdn.somosunogo.com/conferencias.jpg" class="img_set_info" />
            </div>
            <div class="col-4">
                <img src="https://cdn.somosunogo.com/workshops.png" class="img_set_info" />
            </div>
            <div class="col-4">
                <img src="https://cdn.somosunogo.com/tribus.png" class="img_set_info" />
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="https://cdn.somosunogo.com/entrevistas.png" class="img_set_info" />
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-6">
                        <img src="https://cdn.somosunogo.com/bandas.png" class="img_set_info" />
                    </div>
                    <div class="col-6">
                        <img src="https://cdn.somosunogo.com/paneles.png" class="img_set_info" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <img src="https://cdn.somosunogo.com/invitados.png" class="img_set_info" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="watherPink w-100">
    <div class="container description">
        <div class="row">
            <div class="col-6">
                <img src="https://cdn.somosunogo.com/somosuno_title.png" class="somos_uno_title" />
            </div>
        </div>
        <div class="whatOne">
            <p class="textOne">{{ 'home.descripcion-somosuno' | translate }}</p>
        </div>
        <div class="versOne">
            <p class="textVersOne">{{ 'home.versiculo-somosuno' | translate }}</p>
        </div>
    </div>
</div>
<div class="container col contentMedia">
    <img src="https://cdn.somosunogo.com/galeria.jpg" class="img-fluid">
</div>