<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">
        <img src="./../../../assets/logs/goo.png" class="logoNavbar">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <div class="menuNavbar">
            <div class="allNets">
                <a href="" class="netLink">
                    <img src="../../../assets/logs/INSTA.png" class="nets" width="25px">
                </a>
                <a href="" class="netLink">
                    <img src="../../../assets/logs/FB.png" class="nets" width="26px">
                </a>
                <a href="" class="netLink">
                    <img src="../../../assets/logs/YT.png" class="nets" width="32px">
                </a>
            </div>
            <div class="btnRegister" (click)="openLogin()">
                <div class="btn here">
                INICIAR SESION
                </div>                
            </div>
        </div>

    </div>
</nav>
<div class="banner">
    <div class="arrowBanner">
        <img src="../../../assets/back/flechas_dark.jpg" width="60px">
    </div>
    <div class="content-objBanner">
        <div class="logoBanner">
            <img src="../../../assets/back/Logo_go.png" width="540px">
        </div>
        <div class="textBanner">
            <img src="../../../assets/back/convencion_text_1.png" width="437">
        </div>     
    </div>
    <div class="contetn-btnOptions">
        <div class="contentVerify">
            <button class="btnVerify" (click)="openModalvalidate()"><p class="minitextBtn">Confirma tu registro a la Convencion</p>  SOMOSUNOGO</button>
        </div>
        <div class="contentRegister">  
            <button class="btnRegisterBanner" (click)="openCloseModal()">REGISTRATE</button>
        </div>
        
    </div>
</div>
<div class="bannertwo">
    <div class="contentBannerTwo">
        <div class="titleInfo">
            <img src="../../../assets/back/Logo_darkGo.png" width="100px">
            <div class="contentTitleInfo">
                <p><strong>= AMOR</strong>&nbsp; EN ACCION</p>
            </div>
        </div>

        <div class="messageBannerTwo">
            <div class="contentMessageTwo">
                <p class="subtitleMessage">GO ES LA RESPUESTA DE UNA GENERACION DICIENDO SI AL LLAMADO DE DIOS.</p>
                <p class="subtitleMessage">"Un ángel del Señor habló a Felipe, diciendo: Levántate y ve hacia el sur….
                    Entonces él se levantó y fue.” - Hechos 8:26-27</p>
                <p class="subtitleMessage">El llamado de Dios a esta generación es levántate y ve. Hay una misión que
                    nos espera, hay un llamado a la puerta, hay vidas esperando el mensaje que tú y yo tenemos. Dios ha
                    lanzado su palabra, “levántate y ve!” Ahora el resto depende de nosotros. GO es nuestra respuesta y
                    creemos que no estamos solos en esta respuesta. Unámonos al clamor de miles y digamos, “¡Heme aquí
                    Dios, envíame a mí!” !A partir de hoy nos unimos a la generación GO!</p>
                <p class="subtitleMessage">Lau & Sara Pastores</p>
                <p class="subtitleMessage">MCI Somos uno</p>
            </div>
        </div>
        <div class="backVideo">
            <div class="iframeVideo">
                <div>
                    <iframe width="530" height="294" src="https://www.youtube.com/embed/F0QtbeB4B2Q" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>        
    </div>
    <div class="imgArrowVideo">
        <img src="../../../assets/back/flechas_dark2.png" class="arrowVideo">
    </div>
    <div class="imgArrowVertical">
        <img src="../../../assets/back/flechavertical.png" class="arrowVertical">
    </div>
</div>
<div class="band"></div>
<div class="how">
    <div class="contentHow">
        <div class="titleHow">
            <img src="../../../assets/back/Que-habrá.png" width="508">
        </div>
    </div>
    <div class="contentBox">
        <div class="contentActions">
            <div class="actionOne">
                <div>
                    <p>CONFE_</p>
                    <P>RENCIAS</P>
                </div>
            </div>
            <div class="actionTwo">
                <div>
                    <p>WORK_</p>
                    <P>SHOPS</P>
                </div>
            </div>
            <div class="actionThree">
                <div>
                    <P>GUERRA</P>
                    <p>DE_</p>
                    <P>TRIBUS</P>
                </div>
            </div>
        </div>
        <div class="contentActionsTwo">
            <div class="actionFour">
                <div class="contentText">
                    <P>ENTRE_</P>
                    <p>VISTAS</p>
                </div>
                <div class="imgArrowActions">
                    <img src="../../../assets/back/flechas_dark2.png" width="60">
                </div>
            </div>
            <div class="subcontentActions">
                <div class="subactionOne">
                    <div class="actionFive">
                        <div>
                            <P>BANDAS_</P>
                            <p>INVITADAS</p>
                        </div>
                    </div>
                    <div class="actionSix">
                        <div>
                            <P>PANELES_</P>
                        </div>
                    </div>
                </div>
                <div class="actionSeven">
                    <div>
                        <P>INVITADOS_</P>
                        <p>ESPECIALES</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="registerTwo">
    <div class="content-imgRgisterTwo">
        <img src="../../../assets/back/registrate-aquí.png" width="500">
    </div>
    <div class="buttonRegisterTwo">
        <button class="btn btnRegTwo">GRATIS</button>
    </div>
</div>
<div class="watherPink">
    <div class="contentWeAreOne">
        <div class="titleOne">
            <p>SOMOS UNO</p>
        </div>
        <div class="whatOne">
            <p class="textOne">Somos uno es el ministerio de Jóvenes de la Misión Carismática internacional, creemos
                que el mensaje más poderoso que tenemos es la unidad. Somos Uno busca unir la nueva generación para
                que a través de la unidad con el Espíritu Santo muchos puedan escuchar el mensaje más poderoso de
                todos: el mensaje de Jesús.</p>
        </div>
        <div class="versOne">
            <p class="textVersOne">“Mas no ruego solamente por éstos, sino también por los que han de creer en mí
                por la palabra de ellos, para que todos sean uno; como tú, oh Padre, en mí, y yo en ti, que también
                ellos sean uno en nosotros; para que el mundo crea que tú me enviaste.” - Juan 17:20-22</p>
        </div>
    </div>
    <div class="arrowOne">
        <img src="../../../assets/back/flechas_dark.jpg" width="60px">
    </div>
</div>
<div class="contentMedia">
    <div class="contentImgs">
        <img src="../../../assets/media/48311750632_4b1c7366ea_o.jpg" width="100%">
    </div>
    <div class="contentImgs">
        <img src="../../../assets/media/48311787196_4a842c8ba2_o.jpg" width="100%">
    </div>
    <div class="contentImgs">
        <img src="../../../assets/media/48317073981_8ba4b1876b_o.jpg" width="100%">
    </div>
    <div class="contentImgs">
        <img src="../../../assets/media/48334125641_c539295ce4_o.jpg" width="100%">
    </div> 
    <div class="contentImgs">
        <img src="../../../assets/media/48317167927_261c6b9a6d_o.jpg" width="100%">
    </div>    
    <div class="contentImgs">
        <img src="../../../assets/media/48334345956_8003504378_o.jpg" width="100%">
    </div>
    <div class="contentImgs">
        <img src="../../../assets/media/48334438486_80f99ba24f_o.jpg" width="100%">
    </div>
    <div class="contentImgs">
        <img src="../../../assets/media/48319163011_0940c6d7b4_o.jpg" width="100%">
    </div>       
</div>

