<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="" href="#">
        <img src="./../../../assets/logs/goo.png" class="logoNavbar">
    </a>
    <div class="collapse navbar-collapse navbar-dark" id="navbarTogglerDemo01">
        <div class="menuNavbar">
            <div class="allNets">
                <a href="https://www.instagram.com/somosunogo" class="netLink">
                    <img src="../../../assets/logs/INSTA.png" class="nets" width="25px">
                </a>
                <a href="https://www.facebook.com/mcisomosuno/" class="netLink">
                    <img src="../../../assets/logs/FB.png" class="nets" width="26px">
                </a>
                <a href="https://www.youtube.com/channel/UC2whaAP8Vfn58raV5OWV95Q?sub_confirmation=1" class="netLink">
                    <img src="../../../assets/logs/YT.png" class="nets" width="32px">
                </a>
            </div>
        </div>
    </div>
    <a class="btnRegister" (click)="openLogin();" style="display: none;">
        <div class="btn here">
            {{ 'home.iniciar-sesion' | translate }}
        </div>
    </a>
</nav>
<!--  -->
<div class="banner">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">
            <img src="../../../assets/back/logo_fecha.png" class="img-left-banner" />
        </div>
        <div class="col-2">
        </div>
    </div>
</div>
<!--  -->
<div class="row btn-bar">
    <div class="col-6">
        <button class="btnVerify" (click)="openModalvalidate()">{{ 'home.confirmar-registro' | translate }}</button>
    </div>
    <div class="col-6">
        <button class="btnRegisterBanner" (click)="openCloseModal()">{{ 'home.registrate' | translate }}</button>
    </div>

</div>
<div class="section introducing">
    <div class="row">

        <div class="col-2"></div>
        <div class="col-8">

            <img src="../../../assets/back/amor_accion.jpg" class="amor_accion" />
            <div class="content_side">
                <p>"Un ángel del Señor habló a Felipe, diciendo: Levántate y ve hacia el sur….
                    Entonces él se levantó y fue.” - Hechos 8:26-27</p>
                <p>El llamado de Dios a esta generación es levántate y ve. Hay una misión que
                    nos espera, hay un llamado a la puerta, hay vidas esperando el mensaje que tú y yo tenemos. Dios ha
                    lanzado su palabra, “levántate y ve!” Ahora el resto depende de nosotros. GO es nuestra respuesta y
                    creemos que no estamos solos en esta respuesta. Unámonos al clamor de miles y digamos, “¡Heme aquí
                    Dios, envíame a mí!” !A partir de hoy nos unimos a la generación GO!</p>
                <p class="title_footer">Lau & Sara Pastores</p>
                <p class="title_footer">MCI Somos uno</p>
            </div>
            <div class="vdeo_set">
                <iframe class="iframevideo" src="https://www.youtube.com/embed/oj7hcXvuQBI" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-2">

        </div>

    </div>
</div>
<div class="backBlack"></div>
<div class="how">
    <div class="container">
        <div class="row">
            <img src="../../../assets/back/title_subcontent.png" class="title_subcontent">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="../../../assets/back/squares/conferencias.jpg" class="img_set_info" />
            </div>
            <div class="col-4">
                <img src="../../../assets/back/squares/workshops.png" class="img_set_info" />
            </div>
            <div class="col-4">
                <img src="../../../assets/back/squares/tribus.png" class="img_set_info" />
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="../../../assets/back/squares/entrevistas.png" class="img_set_info" />
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-6">
                        <img src="../../../assets/back/squares/bandas.png" class="img_set_info" />
                    </div>
                    <div class="col-6">
                        <img src="../../../assets/back/squares/paneles.png" class="img_set_info" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <img src="../../../assets/back/squares/invitados.png" class="img_set_info" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="watherPink w-100">
    <div class="container description">
        <div class="row">
            <div class="col-6">
                <img src="../../../assets/back/somosuno_title.png" class="somos_uno_title" />
            </div>
        </div>
        <div class="whatOne">
            <p class="textOne">Somos uno es el ministerio de Jóvenes de la Misión Carismática internacional, creemos
                que el mensaje más poderoso que tenemos es la unidad. Somos Uno busca unir la nueva generación para
                que a través de la unidad con el Espíritu Santo muchos puedan escuchar el mensaje más poderoso de
                todos: el mensaje de Jesús.</p>
        </div>
        <div class="versOne">
            <p class="textVersOne">“Mas no ruego solamente por éstos, sino también por los que han de creer en mí
                por la palabra de ellos, para que todos sean uno; como tú, oh Padre, en mí, y yo en ti, que también
                ellos sean uno en nosotros; para que el mundo crea que tú me enviaste.” - Juan 17:20-22</p>
        </div>
    </div>
</div>
<div class="container col contentMedia">
    <img src="../../../assets/back/galeria.jpg" class="img-fluid">
</div>