
.navbar{
    height: 78px;
    background: #272727
}
.logoNavbar{
    width: 104px;
    margin-left: 2vw;
}
.menuNavbar{
    /*display: flex;
    position: absolute;
    right: 70px;*/
}
.allNets{
    /*display: flex;
    justify-content: center;
    align-items: baseline;
    margin-right: 200px;*/
    display: flex;
    align-items: baseline;
    margin-right: 61px;
    float: right;
}
.menuNavbar {
    width: 100%;
}
@media screen and (max-width:991px){
    .allNets{display: none;}
}
.netLink{    
    margin: auto 20px;
}
.nets{    
    display: flex;
}
.btnRegister{
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
    border-radius: 40px;
    background: white;
    width: 25%;
    min-width: 150px;
    max-width: 200px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    color: black;
    cursor: pointer;
}
.free{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FBFE01;
    height: 100%;    
    width: 90px;
    border-radius: 0 40px 40px 0;
    margin-right: -18px;
}
/*  */
.banner{
    background: url(../../../assets/back/banner_home.jpg) no-repeat;
    width: 100%;
    padding: 100px 1px;
    background-position: top;
    background-size: cover;
}

img.img-left-banner {
    margin: 0 auto;
    display: block;
    width: 50%;
}
.banner .row {
    padding-top: 20px;
}
.contentPromoBanner{
    display: flex;
}

.logoBanner{
    width: 408px;
    height: 305px;
    background-size: contain;
    position: relative;
    bottom: -241px;
    margin-left: auto;
    margin-right: -73px;
}
.itielBanner{
    width: 680px;
    height: 501px;
    background-size: contain;
    position: relative;
    bottom: -160px;
    margin-left: auto;
    margin-right: 100px;
}
.contetn-btnOptions{
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 100%;    
    background: white;
    padding: 35px 0;
}
.contentVerify, .contentRegister{    
    margin-left: auto;
    margin-right: auto;
}
.btnVerify{
    border: none;
    width: 334px;
    height: 70px;
    border-radius: 50px;
    background: #272727;
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 0.5;
    outline: none;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.btnRegisterBanner{
    width: 334px;
    height: 70px;
    border: none;
    background: #FBFE01;
    border-radius: 80px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding: 20px 50px;
    outline: none;
    text-align: center;
    display: block;
    margin: 0 auto;
}
.btn-bar{
    padding: 3% 0px;
}

/*  */
.bannertwo{
    width: 100%;
    height: 900px;
    background: url(../../../assets/back/Stars.jpg)
}
.contentBannerTwo{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.titleInfo{
    background: #FBFE01;
    width: 460px;
    position: absolute;
    z-index: 5;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentTitleInfo{
    font-size: 30px;
}
.contentTitleInfo p{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}
.messageBannerTwo{
    background: #272727;
    padding: 55px;
    width: 930px;
    margin-left: auto;
    top: 60px;
    position: relative;
}
.contentMessageTwo{
    margin-top: 20px;
    padding: 10px;
}
.titleMessage{
    font-family: monospace;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    position: absolute;
}
.subtitleMessage{
    font-family: monospace;
    color: white;
    font-size: 18px;   
}
/*  */
.banner2{
    background: url(../../../assets/back/Stars.jpg) no-repeat;
    width: 100%;
    height: 1100px;    
    background-size: cover;
}
.textPreconvencion{
    background: #272727;
    width: 830px;
    height: 440px;
    margin-top: 100px;
    padding: 30px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 18px;
    color: white;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
}
.backvideo{
    width: 600px;
    height: 440px;
    margin: -40px -30px auto auto;
    background: #00CEA7;
}
.iframevideo{
    width: 50%;
    height: auto;
    display: inline-block;
    min-height: 350px;
    margin: 0 auto !important;
    background: #00CEA7;
    padding: 1%;
    margin-top: -45px !important;
}
.vdeo_set {
    width: 100%;
    display: grid;
}
.contentBtn-banner2{
    left: 50%;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 870px;
    position: absolute;
    transform: translate(-50%, 0);
}

.band{
    background: url(../../../assets/back/Papeles.png);
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 450px;
    margin-top: -100px;  
    position: absolute;  
}

/*  */
.how{
    background: url(../../../assets/back/Fondo-manchas.jpg);
    background-position: top;
    background-size: cover;
    width: 100%;
    padding: 5% 0px;
}
img.title_subcontent {
    margin: 0 auto;
    width: 50%;
    margin-bottom: 45px;
}
p.textOne {
    font-family: 'Roboto Mono', monospace;
    font-size: 24px;
    line-height: 30px;
}
.description{
    padding-top: 5%;
}

.contentHow{
    position: absolute;
    width: 100%;
    margin-top: 70px;
}
.titleHow{
    width: 55%;
    margin-right: auto;
    margin-left: auto;
}
.contentBox{
    position: absolute;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
}
.contentActions{
    margin-top: 70px;
    display: flex;
    width: 72%;
    margin-left: auto;
    margin-right: auto;;
}
.contentActionsTwo{    
    width: 100%;
    display: flex;
    justify-content: center;
}
.subactionOne{    
    display: flex;
}
.actionOne, .actionTwo, .actionThree,
.actionFive, .actionSix{
    width: 100%;
    padding: 7%;
    margin: 10px;
    font-size: 30px;    
    font-weight: bold;
    line-height: .5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentText{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 150px;
}
.actionOne{background: #FBFE01;}
.actionTwo{background: #E5E5E5;}
.actionThree{background: #FF6F57;}
.actionFour{
    width: 22.5%;
    height: 356px;
    background: #F89FDC;
    margin: 10px;    
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    line-height: .5;
    display: block;
    justify-content: center;
    align-items: center;
}
.actionFive{background: #FBFE01;}
.actionSix{background: #E5E5E5;}
.actionSeven{
    background: #1D1D1D;
    width: 508px;
    height: 168px;
    margin: 10px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    line-height: .5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.introducing{
    background: black url(../../../assets/back/starts-bg.png);
    background-attachment: fixed;
    padding: 7% 0px;
}
img.amor_accion {
    width: 45%;
}
img.img_set_info {
    width: 100%;
    margin-bottom: 35px;
}

.content_side {
    background: #272727;
    padding: 5%;
    color: white;
    font-family: 'Roboto Mono', monospace;
}
.content_side p {
    font-family: 'Roboto Mono', monospace;
}
/*  */
.watherPink{
    background: url(../../../assets/back/watherPink.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.contentWeAreOne{
    width: 77%;
    position: absolute;    
    margin-top: 11%;
}
.titleOne{
    font-weight: bold;
    font-size: calc(1em + 1.5vw);
    color: black;
    margin-bottom: -30px;
    
}
.whatOne{
    background: transparent;
    padding: 20px 0;
    font-size: calc(.7em + 1vw);
    color: white;
}

.versOne {
    background: #1C1C1C;
    padding: 5%;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
    font-size: 19px;
}
.contentMedia{
    padding: 0;
}
.contentMedia .img-fluid {
    max-width: 100%;
    height: auto;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .col-6 {
        width: 100%;
        max-width: 100%;
        flex: auto;
    }
    img.img-right-banner {
        width: 90%;
    }
    .col-2 {
        max-width: 2%;
        flex: 0;
    }
    .col-4, .col-6, .col-8 {
        width: 100% !important;
        flex: 100%;
        max-width: 100% !important;
    }
    img.title_subcontent{
        margin: 0 auto;
        width: 80%;
        margin: 45px 0px;
    }
    .iframevideo {
        width: 88%;
        height: auto;
        display: inline-block;
        min-height: 250px;
        margin: 0 auto !important;
        background: #00CEA7;
        padding: 1%;
        margin-top: 27px !important;
    }
}