<app-navbar></app-navbar>
<div class="banner">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">
            <h1 class="title_banner">TRIBUS</h1>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>
<div class="fondo_containt">
   <!--
    <div class="row justify-content-md-center py-5">
        <div class="col-4">
            <p class="parrafo">ouygygoyg o8 g8g a8gsvo8gs ad aa gso sgsog 8ug sg sogus oug s gsugsug sdoug sdoug dsoug dsfoug sdfoug
                dsoug sdoug sdo8ugouygygoyg o8 g8g a8gsvo8gs ad aa gso sgsog 8ug sg sogus oug s gsugsug sdoug sdoug
                dsoug dsfoug sdfoug dsoug sdoug sdo8ug</p>
        </div>
    </div>
    -->
    <h2 class="title_tribu py-3">PACK LEONES</h2>
    <div class="row justify-content-md-center">
        <div class="col-6">
            <img src="https://cdn.somosunogo.com/leones_pack1.png" class="img-fluid" alt="">¡
            <img src="https://cdn.somosunogo.com/leones_pack2.png" class="img-fluid" alt="">
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-5">
            <img src="https://cdn.somosunogo.com/leones_pack3.png" class="img-fluid" alt="">¡
            <img src="https://cdn.somosunogo.com/leones_pack4.png" class="img-fluid" alt="">
        </div>
    </div>
    <h2 class="title_tribu py-4">PACK GORILAS</h2>
    <div class="row justify-content-md-center">
        <div class="col-6">
            <img src="https://cdn.somosunogo.com/gorilas_pack1.png" class="img-fluid" alt="">¡
            <img src="https://cdn.somosunogo.com/gorilas_pack2.png" class="img-fluid" alt="">
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-5">
            <img src="https://cdn.somosunogo.com/gorilas_pack3.png" class="img-fluid" alt="">¡
            <img src="https://cdn.somosunogo.com/gorilas_pack4.png" class="img-fluid" alt="">
        </div>
    </div>
    <h2 class="title_tribu py-4">PACK HALCONES</h2>
    <div class="row justify-content-md-center">
        <div class="col-6">
            <img src="https://cdn.somosunogo.com/halcones_pack1.png" class="img-fluid" alt="">¡
            <img src="https://cdn.somosunogo.com/halcones_pack2.png" class="img-fluid" alt="">
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-5">
            <img src="https://cdn.somosunogo.com/halcones_pack3.png" class="img-fluid" alt="">¡
            <img src="https://cdn.somosunogo.com/halcones_pack4.png" class="img-fluid" alt="">
        </div>
    </div>
    <h2 class="title_tribu py-4">PACK TIBURONES</h2>
    <div class="row justify-content-md-center">
        <div class="col-6">
            <img src="https://cdn.somosunogo.com/tiburones_pack1.png" class="img-fluid" alt="">¡
            <img src="https://cdn.somosunogo.com/tiburones_pack2.png" class="img-fluid" alt="">
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-5">
            <img src="https://cdn.somosunogo.com/tiburones_pack3.png" class="img-fluid" alt="">¡
            <img src="https://cdn.somosunogo.com/tiburones_pack4.png" class="img-fluid" alt="">
        </div>
    </div>
</div>