<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="" href="#">
        <img src="{{ 'home.imagen-home' | translate }}" class="logoNavbar">
    </a>
    <div class="collapse navbar-collapse navbar-dark" id="navbarTogglerDemo01">
        <div class="menuNavbar">

            <div class="allNets">
                <a class="nav-link" [routerLink]="['/invitados-especiales']">
                    <span class="textMenu">{{ 'menu.invitados' | translate }}</span>
                </a>
                <span class="textMenu">-</span>
                <a class="nav-link" [routerLink]="['/conferencistas']">
                    <span class="textMenu">{{ 'menu.conferencistas' | translate }}</span>
                </a>
                <span class="textMenu">-</span>
                <a class="nav-link" [routerLink]="['/bandas']">
                    <span class="textMenu">{{ 'menu.bandas' | translate }}</span>
                </a>
                <span class="textMenu">-</span>
                <a class="nav-link" [routerLink]="['/tribus']">
                    <span class="textMenu">{{ 'menu.tribus' | translate }}</span>
                </a>
                <span class="textMenu">-</span>
                <a class="nav-link" [routerLink]="['/faq']">
                    <span class="textMenu">{{ 'menu.faq' | translate }}</span>
                </a>
                <!--
                <a class="nav-link" (click)="setLang('es');">
                    <img src="https://devocional.somosunogo.com/images/062-colombia.png" width="20" height="20"
                        alt="Español">
                </a>
                
                <a class="nav-link" (click)="setLang('en');">
                    <img src="https://devocional.somosunogo.com/images/153-united-states-of-america.png" width="20"
                        height="20" alt="English">
                </a>
                <a class="nav-link" (click)="setLang('pt');">
                    <img src="https://devocional.somosunogo.com/images/250-brazil.png" width="20" height="20"
                        alt="Portugues">
                </a>
                <a class="nav-link" (click)="setLang('en');">
                    <img src="https://devocional.somosunogo.com/images/153-united-states-of-america.png" width="20"
                        height="20" alt="English">
                </a>
                <a class="nav-link" (click)="setLang('pt');">
                    <img src="https://devocional.somosunogo.com/images/250-brazil.png" width="20" height="20"
                        alt="Portugues">
                </a>
                -->
            </div>
        </div>
    </div>
    <a class="btnRegister" (click)="openLogin();" style="display: none;">
        <div class="btn here">
            {{ 'home.iniciar-sesion' | translate }}
        </div>
    </a>
</nav>
<div class="banner">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">
            <h1 class="title_banner">{{ 'faq.titulo' | translate }}</h1>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-8 py-5">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            {{ 'faq.titulo_faq1' | translate }}
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        {{ 'faq.respuesta_faq1' | translate }}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            {{ 'faq.titulo_faq2' | translate }}
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        {{ 'faq.respuesta_faq2' | translate }}
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            {{ 'faq.titulo_faq3' | translate }}
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        {{ 'faq.respuesta_faq3' | translate }}
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                            aria-expanded="false" aria-controls="collapseFour">
                            {{ 'faq.titulo_faq4' | translate }}
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">
                        {{ 'faq.respuesta_faq4' | translate }}
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                            aria-expanded="false" aria-controls="collapseFive">
                            {{ 'faq.titulo_faq5' | translate }}
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                    <div class="card-body">
                        {{ 'faq.respuesta_faq5' | translate }}
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingSix">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
                            aria-expanded="false" aria-controls="collapseSix">
                            {{ 'faq.titulo_faq6' | translate }}
                        </button>
                    </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                    <div class="card-body">
                        {{ 'faq.respuesta_faq6' | translate }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>