.navbar {
    height: auto;
    background: #272727
}

.logoNavbar {
    width: 104px;
    margin-left: 2vw;
}

.menuNavbar {
    /*display: flex;
    position: absolute;
    right: 70px;*/
}

li.nav-item.list-lang {
    margin-left: 25px;
}

li.nav-item.log-in {
    background: #ff6245;
    padding: 0px 5px;
    margin-left: 8px;
    border-radius: 9px;
}
.textMenu {
    font-family: Poppins, sans-serif;
    color: white;
    font-size: 14px;
}

.dropdown-item {
    cursor: pointer;
}

.allNets {
    /*display: flex;
    justify-content: center;
    align-items: baseline;
    margin-right: 200px;*/
    display: flex;
    align-items: baseline;
    margin-right: 10px;
    float: right;
}

.menuNavbar {
    width: 100%;
}

@media screen and (max-width:991px) {
    .allNets {
        display: none;
    }
}

.netLink {
    margin: auto 20px;
}

.nets {
    display: flex;
}

.btnRegister {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 40px;
    background: white;
    width: 25%;
    min-width: 150px;
    max-width: 200px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    color: black;
    cursor: pointer;
}

.log-in:hover {
    cursor: pointer !important;
}

.is-color-fixed {
    background-color: #343a40 !important;
}

.navbar-dark .navbar-text a:focus, .navbar-dark .navbar-text a:hover {
    background-color: #343a4073 !important;
}

.navbar-dark .navbar-text a:hover {
    background-color:transparent !important;
}

@media screen and (max-width:480px) {
    li.nav-item.log-in {
        background: #ff6245;
        padding: 0px 11px;
        margin-left: 0px !important;
        border-radius: 9px;
        width: 220px;
        text-align: center;
        margin-top: 12px;

    }
    li.nav-item.log-in:hover {
        background:#ff757b !important;
    }

    
    li.nav-item.list-lang {
        margin-left: 0px;
        width: 200px;
        margin-top: 12px;
    }
    .btn-secondary {
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
        width: 221px;
        border-radius: 7px;
    }
}
