<app-navbar></app-navbar>
<div class="banner">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">
            <h1 class="title_banner">Validar Código</h1>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>
<div class="fondo_containt">
    <div class="row justify-content-md-center py-4">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="cointainer-access" *ngIf="codigo">
                <p class="codigo">{{codigo}}</p>
                <button class="buttonEnter" (click)="openLogin();" *ngIf="!show">
                    INGRESAR
                </button>
            </div>
            
            <form class="example-form" [formGroup]="formCode">

                <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Correo</mat-label>
                        <input matInput placeholder="Ej. usuario@hotmail.com" formControlName="email"
                            (input)="toLower($event);">

                        <mat-icon matSuffix>person</mat-icon>

                        <mat-hint align="center">
                            <div class="error-message" *ngIf="form.email.errors">
                                <p *ngIf="form.email.errors.cannotContainSpace">*El email no puede contener espacios.</p>
                            </div>
                        </mat-hint>
                </mat-form-field>


                <div class="contentBtn">
                    <button class="buttonEnter" (click)="sendUserNoCode();" [disabled]="!formCode.valid">
                        VALIDAR CÓDIGO
                    </button>
                </div>
                <div class="contentBtn">
                   
                </div>

            </form>
        </div>
        <div class="col-3"></div>
    </div>