<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">
        <img src="./../../../assets/logs/goo.png" class="logoNavbar">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <div class="menuNavbar">
            <div class="allNets">
                <a href="" class="netLink">
                    <img src="../../../assets/logs/INSTA.png" class="nets" width="25px">
                </a>
                <a href="" class="netLink">
                    <img src="../../../assets/logs/FB.png" class="nets" width="26px">
                </a>
                <a href="" class="netLink">
                    <img src="../../../assets/logs/YT.png" class="nets" width="32px">
                </a>
            </div>
            <div class="btnRegister" (click)="openHome()">
                <div class="btn here">
                    REGISTRATE <strong>AQUI</strong>
                </div>
                <div class="free"><strong>GRATIS</strong></div>
            </div>
        </div>
    </div>
</nav>
<div class="banner">
    <div class="contentPromoBanner">
        <div class="logoBanner"> </div>
        <div class="itielBanner"></div>
    </div>
</div>
<div class="banner2">
    <div class="textPreconvencion">
        <p><strong>! START !!!! PRE . CONVENCION</strong></p>
        <p>"Un ángel del Señor habló a Felipe, diciendo: Levántate y ve hacia el sur…. Entonces él se levantó y fue.” -
            Hechos 8:26-27 El llamado de Dios a esta generación es levántate y ve. Hay una misión que nos espera, hay un
            llamado a la puerta, hay vidas esperando el mensaje que tú y yo tenemos. Dios ha lanzado su palabra</p>
        <div class="backvideo">
            <iframe class="iframevideo" src="https://www.youtube.com/embed/oj7hcXvuQBI" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    <div class="contentBtn-banner2">
        <a href="https://www.youtube.com/channel/UC2whaAP8Vfn58raV5OWV95Q">
            <button class="btnSubscribe" >EMPIEZA YA! SUBSCRIBE A YOUTUBE</button>  
        </a>        
        <button class="register-banner2" (click)="openHome()">REGISTRARME EN SOMOSUNOGO.CO</button>
    </div>
</div>
<!--  -->
<div class="banner3">
    <div class="contentbanner3">
        <div class="contentMediaBanner3">
            <p class="textWallpaper">WALPAPERS</p>
            <div class="wallpapers">
                <div class="walpaper1"></div>
                <div class="walpaper2"></div>
                <div class="walpaper3"></div>
            </div>
        </div>
        <div class="contentMediaBanner3">
            <p class="textWallpaper">POST</p>
            <div class="post">
                <div class="post1"></div>
                <div class="post2"></div>
                <div class="post3"></div>
            </div>
        </div>
    </div>
</div>


<div class="contentMedia">    
</div>