.container-sider-bar {
    width: 300px;
    height: 100%;
    /* border: 5px solid red; */
}

.container-padding {
    padding: 25px;
    height: 90%;
    /* border: 5px solid gold; */
}

.container-image-profile {
    /* border: 5px solid springgreen; */
}

.container-info {
    /* border: 5px solid blue; */
}

.container-tribu {
    /* border: 5px solid aqua; */
}

.container-menu {
    /* border: 5px solid blueviolet; */
    font-family: Poppins,sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.container-exit {
    background-color: #FFFFFF;
    height: 10%;
    padding: 20px;
    /* border: 5px solid green; */
}

.tribu-points {
    color: white;
    font-size: 60px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.list-group-item {
    text-align: center;
    background-color: transparent !important;
    border: none !important;
}

.list-group-item:hover {
    cursor: pointer;
}

.names {
    font-family: Poppins,sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    font-size: 18px;
}

.email {
    font-family: Poppins,sans-serif;
    text-align: center;
    color: white;
    font-size: 12px;
}

.tribu-halcones {
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.container-border {
    width: auto;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 11px;
}

.btn-fixed {
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 50px;
    width: 172px;
    height: 57px;
}

.display-flex {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.padding-items {
    margin-bottom: 30px;
}

.bold-selected {
    color: black;
    font-weight: bold;
}

.img-tribus {
    width: 70%;
}

.white {
    color: white !important;
}

.white:hover {
    color: white !important;
    text-decoration: none
}

@media only screen and (max-width: 739px) {
    .container-sider-bar {
        width: 100%;
    }
}