<div class="container-sider-bar" [ngStyle]=" { background: finalColor } ">

    <div class="container-padding">

        <div class="container-image-profile padding-items display-flex">
            <img class="rounded-circle img-tribus" src="https://cdn.somosunogo.com/argentina/logo_convencion.png">
        </div>

        <div class="container-info padding-items">

            <h2 class="names">
                {{ userProfile.nombre ? userProfile.nombre : 'N/A' }}
                {{ userProfile.apellidos ? userProfile.apellidos : 'N/A' }}
            </h2>
            <h6 class="email">
                {{ userProfile.email ? userProfile.email : 'N/A' }}
            </h6>

        </div>

        <div class="container-tribu padding-items display-flex" style="display: none;">

            <div class="container-border">

                <h6 class="tribu-halcones">
                    {{ 'sidebar.tribu' | translate }}
                    {{ finalTribu ? finalTribu : 'Leones' }}
                </h6>

                <small>{{ 'sidebar.puntos' | translate }}</small>

                <h6 class="tribu-points">
                    {{ tribuPoints ? tribuPoints : '0' }}
                </h6>

            </div>

        </div>

        <div class="container-menu padding-items">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" (click)="goTo('home');" [ngClass]="{ 'bold-selected' : tab == 'home' }">
                    {{ 'sidebar.home' | translate }}
                </li>
                <li class="list-group-item" (click)="goTo('talleres');"
                    [ngClass]="{ 'bold-selected' : tab == 'talleres' }" style="display: none;">
                    {{ 'sidebar.talleres' | translate }}
                </li>
                <li class="list-group-item" (click)="goTo('bloques');" [ngClass]="{ 'bold-selected' : tab == 'bloques' }" >
                    {{ 'sidebar.conferencistas' | translate }}
                </li>
                <li class="list-group-item" (click)="goTo('merch');" [ngClass]="{ 'bold-selected' : tab == 'merch' }" style="display:none;">
                    {{ 'sidebar.merch' | translate }}
                </li>
                <li class="list-group-item">
                    <a class="white" target="_blank" href="https://www.visiondefuturo.org/done-hoy/">
                        {{ 'sidebar.donaciones' | translate }}
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <div class="container-exit display-flex">

        <button class="btn btn-fixed btn-lg btn-light col-xs-12" (click)="closeSession();">
            <span class="glyphicon glyphicon-earphone pull-left"></span>
            {{ 'sidebar.boton-salir' | translate }}
        </button>

    </div>

</div>