::ng-deep.mat-dialog-container{
    width: auto;
    background: url(../../../assets/back/watherPink.jpg);
    background-size: cover;
    background-position: center;
}
.modal-content{
    background: transparent;
    border: none;
}
.contentTitle{
    width: 100%;
    text-align: center;
}
.stc{color:red}
.titleModalvalidate{
    font-size: 30px;
    font-weight: 900;
    color: black;
}
.titleModalvalidate span{
    color: white;
}
.modal-dialog-scrollable .modal-content {
    max-height: calc(90vh - 3.5rem);
}
.form-control{
    border-radius: 20px;
}
input[type=checkbox]{
    box-sizing: border-box;
    padding: 0;
    width: 25px;
    height: 25px;    
}
.invalid-feedback{
    display: block;
}
.contentBtnValidar{
    display: flex;
    justify-content: center;
    width: 100%;
}
.buttonform{
    border-radius: 20px;
    padding: 8px 25px;
    color: #4f4f4f !important;
    font-size: 22px;
    font-family: 'Roboto';
    font-weight: 900;
    background: yellow !important;
}
.invalidBtn{
    border-radius: 20px;
    padding: 8px 25px;
    color: #a8a8a8;
    font-size: 22px;
    font-family: 'Roboto';
    font-weight: 900;
    background: rgb(214, 214, 214);
}
.buttonform:hover{
    background: rgb(206, 206, 3);
}