<div class="modal" tabindex="-1" role="dialog" style="display: contents;">
    <div class="modal-dialog modal-dialog-scrollable modal-m">
        <div *ngIf="currentState == 0" class="modal-content">
            <form [formGroup]="formValid" (ngSubmit)="validateForm($event)">
                <div class="modal-header">
                
                    <div class="container padding-50">
                        <div class="row">
                            <img src="../../../assets/media/icons/mail.png" style="margin: 0 auto;" />
                        </div>
                        <div class="row">
                            <p class="title-modal light">INGRESA TU CORREO</p>
                        </div>
                        <div class="row">
                            <p class="description light">ingresa el correo electrónico con el que te registraste, te enviaremos un codigo de seguridad para que puedas actualizar tu registro.</p>
                        </div>
                        
                    </div>
                </div>
                <div class="modal-body col-md-8" style="display: block; margin-left: auto; margin-right: auto;">
                    <input type="text" class="form-control" placeholder="Correo Electronico" formControlName="email">
                    <div *ngIf="validatorMail.invalid && (validatorMail.touched || validatorMail.dirty)"
                        class="invalid-feedback">
                        <p *ngIf="validatorMail.hasError('required')">Debes ingresar tu correo electronico</p>
                        <p *ngIf="validatorMail.hasError('pattern')">Debes ingresar un correo electronico</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="contentBtnValidar">
                        <button type="submit" class=" btn buttonform invalidBtn" [disabled]="formValid.invalid"
                            [ngClass]="{'buttonform': formValid.valid}">CONFIRMAR</button>
                    </div>
                </div>
            </form>
        </div>
        <div *ngIf="currentState == 1" class="modal-content">
            <form [formGroup]="formValidateCode" (ngSubmit)="validateCode($event)">
                <div class="modal-header">
                    <div class="container padding-50">
                        <div class="row">
                            <img src="../../../assets/media/icons/inputs.png" style="margin: 0 auto;" />
                        </div>
                        <div class="row">
                            <p class="title-modal light">YEAH! ESTAS REGISTRADO(A)</p>
                        </div>
                        <div class="row">
                            <p class="description light">Si deseas actualizar tu informacion puedes digitar el codigo de seguridad enviado a tu correo para que puedas ajustar tu informacion y acceder a la plataforma.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-body" style="display: block; margin-left: auto; margin-right: auto; width: 50%;">
                    <input type="text" class="form-control" placeholder="ingresa el codigo" maxlength="6" formControlName="code" style="width: 100%;"> 
                    <div *ngIf="code.invalid && (code.touched || code.dirty)" class="invalid-feedback">
                        <p *ngIf="code.hasError('pattern')">Debes ingresar 6 digitos </p>
                        <p *ngIf="code.hasError('required')">Es necesario que ingreses el codigo que te enviamos a tu
                            correo electronico</p>
                    </div>
                    <div *ngIf="errCode" class="invalid-feedaback">
                        <p>{{errCode}}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="contentBtnValidar">
                        <button type="submit" class=" btn buttonform invalidBtn" [disabled]=" formValidateCode.invalid"
                            [ngClass]="{'buttonform': formValidateCode.valid}">ACTUALIZAR</button>
                    </div>
                </div>
            </form>
        </div>
        <div *ngIf="currentState == 2" class="modal-content">
            <div class="modal-header">
               
                    <div class="container padding-50" style="padding-bottom: 0;">
                        <div class="row">
                            <p class="title-modal light" style="font-size: 25px;">INFORMACIÓN REGISTRADA</p>
                        </div>
                        <div class="row">
                            <p class="description light">A continuación podras ver un detalle de la informacion registrada para nuestra convencion de jovenes #SomosUnoGo.</p>
                        </div>
                    </div>
              
            </div>
            <div class="modal-body" style="height: 450px;">
                <div class="col-md-12">
                    <label class="titleFecha">Tu fecha de Registro fue: </label>
                    <p class="fecha">{{selectedUser.date_register | date}}</p>
                </div>
                <div class="row" style="display: flex;">
                    <div class="col-md-6">
                        <label class="labels"><span class="stc">*</span>Nombre: </label>
                        <p class="form-control">{{selectedUser.nombre}}</p>
                    </div>
                    <div class="col-md-6">
                        <label class="labels"><span class="stc">*</span>Apellidos:</label>
                        <p class="form-control"> {{selectedUser.apellidos}}</p>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="labels"><span class="stc">*</span>Edad: </label>
                        <p class="form-control">{{selectedUser.edad  ? selectedUser.edad : '--'}}
                        </p>
                    </div>
                    <div class="col-md-6">
                        <label class="labels"><span class="stc">*</span>Correo Electronico: </label>
                        <p class="form-control">{{selectedUser.email }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="labels"><span class="stc">*</span>Celular: </label>
                        <p class="form-control">
                            {{selectedUser.celular ? selectedUser.celular : 'no registrado'}}
                        </p>
                    </div>
                    <div *ngIf="selectedUser.telefono && selectedUser.telefono !='null'" class="col-md-6">
                        <label class="labels"><span class="stc">*</span>Telefono: </label>
                        <p class="form-control">
                            {{selectedUser.telefono ? selectedUser.telefono : 'no registrado'}}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="labels"><span class="stc">*</span>Pais: </label>
                        <p class="form-control">
                            {{selectedUser.pais ? selectedUser.pais : 'no has seleccionado un pais'}}
                        </p>
                    </div>
                    <div class="col-md-6">
                        <label class="labels"><span class="stc">*</span>Ciudad: </label>
                        <p class="form-control">
                            {{selectedUser.ciudad ? selectedUser.ciudad : 'no has seleccionado una ciudad'}}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="labels"><span class="stc">*</span>Iglesia: </label>
                        <p class="form-control">{{selectedUser.iglesia }}</p>
                    </div>
                    <div *ngIf="selectedUser.otraIglesia && selectedUser.otraIglesia != 'null'" class="col-md-6">
                        <label class="labels"><span class="stc">*</span> Nombre de tu Iglesia: </label>
                        <p class="form-control">{{selectedUser.otraIglesia}}</p>
                    </div>
                    
                </div>
                <div class="row">
                    <div *ngIf="selectedUser.sedeMci && selectedUser.sedeMci != 'null'" class="col-md-6">
                        <label class="labels"><span class="stc">*</span>Sede: </label>
                        <p class="form-control">{{selectedUser.sedeMci}}</p>
                    </div>
                    <div *ngIf="selectedUser.red && selectedUser.red != 'null'" class="col-md-6">
                        <label class="labels"><span class="stc">*</span>Red / Ministerio: </label>
                        <p class="form-control">{{selectedUser.red}}</p>
                    </div>
                </div>
                <div class="row">
                    <div *ngIf="selectedUser.redHombres && selectedUser.redHombres != 'null'" class="col-md-6">
                        <label class="labels"><span class="stc">*</span>Tu Pastora Principal:</label>
                        <p class="form-control"> {{selectedUser.redHombres}}</p>
                    </div>
                    <div *ngIf="selectedUser.redMujeres && selectedUser.redMujeres != 'null'" class="col-md-6">
                        <label class="labels"><span class="stc">*</span>Tu Pastora Principal: </label>
                        <p class="form-control">{{selectedUser.redMujeres}}</p>
                    </div>
                    <div *ngIf="selectedUser.redEliemerson && selectedUser.redEliemerson != 'null'" class="col-md-6">
                        <label class="labels"><span class="stc">*</span>Red de Eliemerson proenca: </label>
                        <p class="form-control">{{selectedUser.redEliemerson}}</p>
                    </div>
                    <div *ngIf="selectedUser.redJohanna && selectedUser.redJohanna != 'null'" class="col-md-6">
                        <label class="labels"><span class="stc">*</span>Red de Johanna Proenca: </label>
                        <p class="form-control">{{selectedUser.redJohanna}}</p>
                    </div>
                    <div *ngIf="selectedUser.redLauGuerra && selectedUser.redLauGuerra != 'null'" class="col-md-6">
                        <label class="labels"><span class="stc">*</span>Red de Lau Guerra: </label>
                        <p class="form-control">{{selectedUser.redLauGuerra}}</p>
                    </div>
                    <div *ngIf="selectedUser.redSaraCastellanos && selectedUser.redSaraCastellanos != 'null'" class="col-md-6">
                        <label class="labels"><span class="stc">*</span>Red de Sara Guerra: </label>
                        <p class="form-control">{{selectedUser.redSaraCastellanos}}</p>
                    </div>
                    <div *ngIf="selectedUser.liderPrincipal && selectedUser.liderPrincipal != 'null'" class="col-md-6">
                        <label class="labels"><span class="stc">*</span>Lider Principal: </label>
                        <p class="form-control">{{selectedUser.liderPrincipal}}</p>
                    </div>
                </div>
                <div class="row">
                    <div *ngIf="selectedUser.idioma && selectedUser.idioma != 'null'" class="col-md-6">
                        <label class="labels"><span class="stc">*</span>idioma seleccionado:</label>
                        <p class="form-control">
                            {{selectedUser.idioma ? selectedUser.idioma : 'no has seleccionado un idioma'}}
                        </p>
                    </div>
                    <div *ngIf="selectedUser.talleres && selectedUser.talleres != 'null'" class="col-md-6">
                        <label class="labels"><span class="stc">*</span>taller seleccionado: </label>
                        <p class="form-control">
                            {{selectedUser.talleres ? selectedUser.talleres : 'no has seleccionado un taller'}}
                        </p>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="contentBtnValidar">
                    <button type="button" class="btn  buttonform" (click)="currentState = 3">ACTUALIZA TUS
                        DATOS</button>
                </div>
            </div>
        </div>
        <div *ngIf="currentState == 3" class="modal-content">
            <form [formGroup]="formUpdate" (ngSubmit)="updateUser($event)">
                <div class="modal-header">
                    <div class="contentTitle">
                        <p class="titleModalvalidate">REVISA TUS DATOS<span>
                                Y ACTUALIZALOS</span></p>
                    </div>
                </div>
                <div class="modal-body" style="height: 300px;">
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="inputNombre">Nombre</label>
                            <input type="email" class="form-control" id="inputNombre" formControlName="nombre"
                                placeholder="escribe tu nombre">
                            <div *ngIf="nameUpdate.invalid && (nameUpdate.touched || nameUpdate.dirty)"
                                class="invalid-feedback">
                                <p *ngIf="nameUpdate.hasError('required')">Debes ingresar tu Nombre</p>
                            </div>

                        </div>
                        <div class="form-group col-md-5">
                            <label for="inputApellido">Apellidos</label>
                            <input type="text" class="form-control" id="inputApellido" formControlName="apellidos"
                                placeholder="escribe tu apellido">
                            <div *ngIf="lastUpdate.invalid && (lastUpdate.touched || lastUpdate.dirty)"
                                class="invalid-feedback">
                                <p *ngIf="lastUpdate.hasError('required')">Debes ingresar tu Apellido</p>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputEdad">Edad</label>
                            <input type="text" class="form-control" id="inputEdad" formControlName="edad"
                                placeholder="cual es tu edad">
                            <div *ngIf="ageUpdate.invalid && (ageUpdate.touched || ageUpdate.dirty)"
                                class="invalid-feedback">
                                <p *ngIf="ageUpdate.hasError('required')">Debes ingresar tu Edad</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail">Correo Electronico</label>
                            <input type="email" class="form-control" id="inputEmail" formControlName="email"
                                placeholder="cual es tu correo electronico">
                            <div *ngIf="mailUpdate.invalid && (mailUpdate.touched || mailUpdate.dirty)"
                                class="invalid-feedback">
                                <p *ngIf="mailUpdate.hasError('required')">Debes ingresar tu Correo Electronico</p>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputCelular">Celular</label>
                            <input type="text" class="form-control" id="inputCelular" formControlName="celular"
                                placeholder="escribe tu numero de celular">
                                <div *ngIf="phoneUpdate.invalid && (phoneUpdate.touched || phoneUpdate.dirty)"
                                class="invalid-feedback">
                                <p *ngIf="phoneUpdate.hasError('required')">Debes ingresar tu Correo Electronico</p>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputTelefono">Telefono</label>
                            <input type="text" class="form-control" id="inputTelefono" formControlName="telefono"
                                placeholder="escribe tu numero telefonico fijo">
                                
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputState">Pais</label>
                            <select id="inputState" class="form-control custom-select" formControlName="pais">
                                <option selected value="">Selecciona un pais...</option>
                                <option *ngFor="let co of countries; index as i" [value]="co.name">{{co.name}}</option>
                            </select>
                            <div *ngIf="countryUpdate.invalid && (countryUpdate.touched || countryUpdate.dirty)"
                                class="invalid-feedback">
                                <p *ngIf="countryUpdate.hasError('required')">Debes Seleccionar tu pais</p>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputCiudad">Ciudad</label>
                            <input type="text" class="form-control" id="inputCiudad" placeholder="donde vives"
                                formControlName="ciudad">
                                <div *ngIf="cityUpdate.invalid && (cityUpdate.touched || cityUpdate.dirty)"
                                class="invalid-feedback">
                                <p *ngIf="cityUpdate.hasError('required')">Debes Ingresar tu ciudad</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputChurch">Iglesia</label>
                            <select id="inputChurch" class="form-control custom-select" formControlName="iglesia">
                                <option selected value="">Selecciona tu iglesia</option>
                                <option value='pertenece_mci'>Soy parte de la MCI</option>
                                <option value='G12_church'>G12 Church</option>
                                <option value='otra_iglesia'>Otra Iglesia</option>
                                <option value='ninguna'>No pertenezco a ninguna iglesia</option>
                            </select>
                            <div *ngIf="churchUpdate.invalid && (churchUpdate.touched || churchUpdate.dirty)"
                                class="invalid-feedback">
                                <p *ngIf="churchUpdate.hasError('required')">Debes Seleccionar tu Iglesia</p>
                            </div>
                        </div>
                        <div *ngIf="validOtraIglesia" class="form-group col-md-5">
                            <label for="inputOtraIglesia">Nombre de tu Iglesia</label>
                            <input type="text" class="form-control" id="inputOtraIglesia"
                                placeholder="Escribe el nombre de tu Iglesia" formControlName="otraIglesia">
                        </div>

                        <div *ngIf="validSede" class="form-group col-md-5">
                            <label for="inputSede">Sede</label>
                            <select id="inputSede" class="form-control custom-select" formControlName="sedeMci">
                                <option value=''>Cual es tu Sede</option>
                                <optgroup label="Sede Principal">
                                    <option value='bogota_principal'>MCI Bogota - Sede Principal</option>
                                </optgroup>
                                <optgroup label="Sede - Internacional Argentina">
                                    <option value='mci-buenos-aires'>MCI Buenos Aires</option>
                                    <option value='mci-ushuaia'>MCI Ushuaia</option>
                                </optgroup>
                                <optgroup label="Sede - Internacional España">
                                    <option value='mci-barcelona'>MCI Barcelona</option>
                                    <option value='mci-madrid'>MCI Madrid</option>
                                </optgroup>
                                <optgroup label="Sede - Internacional Estados Unidos">
                                    <option value='mci-san-diego'>MCI San Diego</option>
                                    <option value='mci-los-angeles'>MCI Los Angeles</option>
                                </optgroup>
                                <optgroup label="Bolivia">
                                    <option value='mci-santa-cruz'>MCI Santa Cruz</option>
                                </optgroup>
                                <optgroup label="Chile">
                                    <option value='mci-santiago-chile'>MCI Santiago de Chile</option>
                                    <option value='mci-vina-de-mar'>MCI Viña del Mar</option>
                                    <option value='mci-talca'>MCI Talca</option>
                                </optgroup>
                                <optgroup label="Ecuador">
                                    <option value='mci-quito'>MCI Quito</option>
                                </optgroup>
                                <optgroup label="Holanda">
                                    <option value='mci-utrecht'>MCI Utrecht</option>
                                </optgroup>
                                <optgroup label="Francia">
                                    <option value='mci-lyon'>MCI Lyon</option>
                                </optgroup>
                                <optgroup label="Mexico">
                                    <option value='mci-ciudad-mexico'>MCI Ciudad de Mexico</option>
                                    <option value='mci-durango'>MCI Durango</option>
                                    <option value='mci-yucatan'>MCI Yucatan</option>
                                    <option value='mci-tijuana'>MCI Tijuana</option>
                                </optgroup>
                                <optgroup label="Paraguay">
                                    <option value='mci-asuncion'>MCI Asuncion</option>
                                </optgroup>
                                <optgroup label="Peru">
                                    <option value='mci-Lima'>MCI Lima</option>
                                </optgroup>
                                <optgroup label="Uruguay">
                                    <option value='mci-montevideo'>MCI Montevideo</option>
                                </optgroup>
                                <optgroup label="Venezuela">
                                    <option value='mci-turmero'>MCI Turmero</option>
                                    <option value='mci-maracaibo'>MCI Maracaibo</option>
                                    <option value='mci-yaritagua'>MCI Yaritagua</option>
                                </optgroup>

                                <optgroup label="Nacionales - Antioquia">
                                    <option value='mci-medellin'>MCI Medellin</option>
                                    <option value='mci-occidente'>MCI Occidente</option>
                                    <option value='mci-envigado'>MCI Envigado</option>
                                    <option value='mci-itagui'>MCI Itagui</option>
                                    <option value='mci-rionegro'>MCI Rionegro</option>
                                    <option value='mci-bello'>MCI Bello</option>
                                </optgroup>
                                <optgroup label="Nacionales - Arauca">
                                    <option value='mci-arauca'>MCI Arauca</option>
                                </optgroup>
                                <optgroup label="Nacionales - Atlantico">
                                    <option value='mci-barranquilla'>MCI Barranquilla</option>
                                </optgroup>
                                <optgroup label="Nacionales - Bolivar">
                                    <option value='mci-cartagena'>MCI Cartagena</option>
                                </optgroup>
                                <optgroup label="Nacionales - Boyaca">
                                    <option value='mci-tunja'>MCI Tunja</option>
                                    <option value='mci-duitama'>MCI Duitama</option>
                                    <option value='mci-chiquinquira'>MCI Chiquinquira</option>
                                    <option value='mci-moniquira'>MCI Moniquira</option>
                                    <option value='mci-puerto-Boyaca'>MCI Puerto Boyacá</option>
                                    <option value='mci-sogamoso'>MCI Sogamoso</option>
                                </optgroup>
                                <optgroup label="Nacionales - Caldas">
                                    <option value='mci-manizales'>MCI Manizales</option>
                                    <option value='mci-la-dorada'>MCI La Dorada</option>
                                </optgroup>
                                <optgroup label="Nacionales - Casanare">
                                    <option value='mci-yopal'>MCI Yopal</option>
                                    <option value='mci-villanueva'>MCI Villanueva</option>
                                </optgroup>
                                <optgroup label="Nacionales - Cauca">
                                    <option value='mci-popayan'>MCI Popayan</option>
                                </optgroup>
                                <optgroup label="Nacionales - Cesar">
                                    <option value='mci-valledupar'>MCI Valledupar</option>
                                </optgroup>
                                <optgroup label="Nacionales - Cordoba">
                                    <option value='mci-monteria'>MCI Monteria</option>
                                </optgroup>

                                <optgroup label="Nacionales - Huila">
                                    <option value='mci-neiva'>MCI Neiva</option>
                                    <option value='mci-garzon'>MCI Garzon</option>
                                    <option value='mci-pitalito'>MCI Pitalito</option>
                                    <option value='mci-la-plata'>MCI La Plata</option>
                                </optgroup>

                                <optgroup label="Nacionales - Magdalena">
                                    <option value='mci-santa-marta'>MCI Santa Marta</option>
                                </optgroup>

                                <optgroup label="Nacionales - Guajira">
                                    <option value='mci-maicao'>MCI Maicao</option>
                                </optgroup>

                                <optgroup label="Nacionales - Meta">
                                    <option value='mci-villavicencio'>MCI Villavicencio</option>
                                    <option value='mci-acacias'>MCI Acacias</option>
                                    <option value='mci-puerto-lopez'>MCI Puerto Lopez</option>
                                    <option value='mci-granada-meta'>MCI Granada Meta</option>
                                    <option value='mci-fuente-oro'>MCI Fuente De Oro</option>
                                </optgroup>
                                <optgroup label="Nacionales - Nariño">
                                    <option value='mci-pasto'>MCI Pasto</option>
                                    <option value='mci-ipiales'>MCI Ipiales</option>
                                </optgroup>
                                <optgroup label="Nacionales - Cundinamarca">
                                    <option value='mci-usme'>MCI Usme</option>
                                    <option value='mci-ciudad-bolivar'>MCI Ciudad Bolivar</option>
                                    <option value='mci-soacha'>MCI Soacha</option>
                                    <option value='mci-bosa'>MCI Bosa</option>
                                    <option value='mci-chia'>MCI Chia</option>
                                    <option value='mci-girardot'>MCI Girardot</option>
                                    <option value='mci-fusagasuga'>MCI Fusagasuga</option>
                                    <option value='mci-mesitas'>MCI Mesitas del colegio</option>
                                    <option value='mci-la-mesa'>MCI La Mesa</option>
                                    <option value='mci-puerto-salgar'>MCI Puerto Salgar</option>
                                    <option value='mci-la-vega'>MCI La vega</option>
                                    <option value='mci-sibate'>MCI La Sibate</option>
                                    <option value='mci-ubate'>MCI Ubate</option>
                                    <option value='mci-tenjo'>MCI Tenjo</option>
                                    <option value='mci-choconta'>MCI Choconta</option>
                                    <option value='mci-tabio'>MCI Tabio</option>
                                    <option value='mci-la-calera'>MCI La Calera</option>
                                    <option value='mci-simijaca'>MCI Simijaca</option>
                                    <option value='mci-mosquera'>MCI Mosquera</option>
                                    <option value='mci-el-rosal'>MCI El Rosal</option>
                                    <option value='mci-facatativa'>MCI Facatativa</option>
                                    <option value='mci-madrid'>MCI Madrid</option>
                                    <option value='mci-zipaquira'>MCI Zipaquira</option>
                                </optgroup>
                                <optgroup label="Nacionales - Quindio">
                                    <option value='mci-manizales'>MCI Armenia</option>
                                </optgroup>
                                <optgroup label="Nacionales - Risaralda">
                                    <option value='mci-manizales'>MCI Pereira</option>
                                </optgroup>
                                <optgroup label="Nacionales - Santander">
                                    <option value='mci-bucaramanga'>MCI Bucaramanga</option>
                                    <option value='mci-barbosa'>MCI Barbosa</option>
                                    <option value='mci-barrancabermeja'>MCI Barrancabermeja</option>
                                    <option value='mci-puerto-wilches'>MCI Puerto Wilches</option>
                                    <option value='mci-sabana-torres'>MCI Sabana De Torres</option>
                                    <option value='mci-el-playon'>MCI El Playon</option>
                                    <option value='mci-malaga'>MCI Malaga</option>
                                    <option value='mci-san-gil'>MCI San Gil</option>
                                    <option value='mci-curiti'>MCI Curiti</option>
                                    <option value='mci-socorro'>MCI Socorro</option>
                                    <option value='mci-cucuta'>MCI Cucuta</option>
                                    <option value='mci-pamplona'>MCI pamplona</option>
                                    <option value='mci-ocana'>MCI Ocaña</option>
                                    <option value='mci-villa-rosario'>MCI Villa Del Rosario</option>
                                </optgroup>
                                <optgroup label="Nacionales - Tolima">
                                    <option value='mci-ibague'>MCI Ibague</option>
                                </optgroup>
                                <optgroup label="Nacionales - Valle del cauca">
                                    <option value='mci-cali'>MCI Cali</option>
                                </optgroup>
                            </select>
                        </div>

                        <div *ngIf="validRed" class="form-group col-md-3">
                            <label for="inputMinistry">Red / Ministerio</label>
                            <select id="inputMinistry" class="form-control custom-select" formControlName="red">
                                <option selected value="">Selecciona la red</option>
                                <option value='Hombres'>Hombres</option>
                                <option value='Mujeres'>Mujeres</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div *ngIf="validRedMen || validredWomen" class="form-group col-md-5">
                            <div *ngIf="validRedMen">
                                <label for="inputPastor">Pastor principal</label>
                                <select id="inputPastor" class="form-control custom-select"
                                    formControlName="redHombres">
                                    <option value="">Selecciona tu Pastor</option>
                                    <option *ngFor="let ps of pastores" [value]="ps.value">{{ps.name}}</option>
                                </select>
                            </div>
                            <div *ngIf="validredWomen">
                                <label for="inputPastora">Pastora principal</label>
                                <select id="inputPastora" class="form-control custom-select"
                                    formControlName="redMujeres">
                                    <option value="">Selecciona tu Pastora...</option>
                                    <option *ngFor="let ps of pastoras" [value]="ps.value">{{ps.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="validEliemerson || validLau || validJohana || validSara"
                            class="form-group col-md-4">
                            <div *ngIf="validEliemerson">
                                <label for="inputEli">Red Eliemerson</label>
                                <select id="inputEli" class="form-control custom-select"
                                    formControlName="redEliemerson">
                                    <option value="">Selecciona tu Lider de 12</option>
                                    <option *ngFor="let eli of eliemerson" [value]="eli.name">{{eli.name}}</option>
                                </select>
                            </div>
                            <div *ngIf="validLau">
                                <label for="inputLau">Red Lau Guerra</label>
                                <select id="inputLau" class="form-control custom-select" formControlName="redLauGuerra">
                                    <option value="">Selecciona tu Lider de 12</option>
                                    <option *ngFor="let la of lau" [value]="la.name">{{la.name}}</option>
                                </select>
                            </div>
                            <div *ngIf="validJohana">
                                <label for="inputJohanna">Red Johana Proenca</label>
                                <select id="inputJohanna" class="form-control custom-select"
                                    formControlName="redJohanna">
                                    <option value="">Selecciona tu Lider de 12</option>
                                    <option *ngFor="let joh of johana" [value]="joh.name">{{joh.name}}</option>
                                </select>
                            </div>
                            <div *ngIf="validSara">
                                <label for="inputSara">Red Sara Castellanos</label>
                                <select id="inputSara" class="form-control custom-select"
                                    formControlName="redSaraCastellanos">
                                    <option value="">Selecciona tu Lider de 12</option>
                                    <option *ngFor="let sa of sara" [value]="sa.name">{{sa.name}}</option>
                                </select>
                            </div>
                            <div *ngIf="validTwelve==true">
                                <label for="inputLider">Lider de 12</label>
                                <input type="text" class="form-control" id="inputLider"
                                    placeholder="Escribe el nombre de tu lider de 12" formControlName="liderPrincipal">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputTaller">Seleccione un Taller</label>
                            <select id="inputTaller" class="form-control custom-select" formControlName="talleres">
                                <option value="">Seleccione un Taller...</option>
                                <option value='Perspectiva Cristiana'>Perspectiva Cristiana</option>
                                <option value='Estudio Bíblico'>Estudio Bíblico</option>
                                <option value='Finanzas'>Finanzas</option>
                                <option value='Liderazgo'>Liderazgo</option>
                                <option value='Creativo'>Creativo</option>
                                <option value='Carrera'>Carrera</option>
                            </select>
                            <div *ngIf="workShopUpdate.invalid && (workShopUpdate.touched || workShopUpdate.dirty)"
                                class="invalid-feedback">
                                <p *ngIf="workShopUpdate.hasError('required')">Debes Seleccionar tu Iglesia</p>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputIdioma">Seleccione un Idioma</label>
                            <select id="inputIdioma" class="form-control custom-select" formControlName="idioma">
                                <option value=''>Seleccione un Idioma</option>
                                <option *ngFor="let lang of language" [value]="lang.name">{{lang.name}}</option>
                            </select>
                            <div *ngIf="languageUpdate.invalid && (languageUpdate.touched || languageUpdate.dirty)"
                                class="invalid-feedback">
                                <p *ngIf="languageUpdate.hasError('required')">Debes Seleccionar tu Iglesia</p>
                            </div>                            
                        </div>
                        <div class="form-group col-md-4 col-auto" style="margin-top: auto">
                            <div class="form-check mb-2" style="display: flex;">
                                <input class="form-check-input" type="checkbox" id="terminosYCondiciones"
                                    class="margin-top: 0" formControlName="terminosYCondiciones">
                                <label class="form-check-label" for="terminosYCondiciones" style="margin-left: 10px;">
                                    Acepto Terminos y condiciones
                                </label>
                            </div>
                            <div *ngIf="terminos.invalid && (terminos.touched || terminos.dirty)"
                                class="invalid-feedback">
                                <p *ngIf="terminos.hasError('required')">Debes aceptar los terminos y condiciones</p>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="contentBtnValidar">
                        <button type="submit" class=" btn buttonform invalidBtn" [disabled]="formUpdate.invalid"
                        [ngClass]="{'buttonform': formUpdate.valid}">ACEPTAR</button>
                    </div>
                </div>
            </form>
        </div>
        <div *ngIf="currentState == 4" class="modal-content">
            <div class="modal-header">
                
                <div class="container padding-50">
                    <div class="row">
                        <img src="../../../assets/media/icons/ticket.png" style="margin: 0 auto;" />
                    </div>
                    <div class="row">
                        <p class="title-modal light">ACTUALIZACIÓN <br> EXITOSA</p>
                    </div>
                    <div class="row">
                        <p class="description light">!Ya estas listo! nos vemos en la convencion SOMOS uno GO..</p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="currentState == 5" class="modal-content">
            <div class="modal-header">
                <div class="contentTitle">
                    <p class="titleModalvalidate">ALGO HA SALIDO MAL <span>INTENTALO NUEVAMENTE</span></p>
                </div>
            </div>
        </div>
        <div *ngIf="currentState == 6" class="modal-content">
            <div class="modal-header">
                <div class="container padding-50">
                    <div class="row">
                        <img src="../../../assets/media/icons/face.png" style="margin: 0 auto;" />
                    </div>
                    <div class="row">
                        <p class="title-modal light">OH NO!</p>
                    </div>
                    <div class="row">
                        <p class="description light">Tu correo no esta registrado en la base de datos, realiza el registro y no te pierdas la convencion #SomosUnoGo.</p>
                    </div>

                    <div class="row" style="margin-bottom:25px;">
                        <button type="button" class="btn buttonform" style="margin: 0 auto;" (click)="showregister()">Registrate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>