::ng-deep.mat-dialog-container{
    width: auto;
    padding: 0px;
}
.modal-header, .modal-footer{
    border: 0px;
}
.modal-footer{
    padding-bottom: 15px;
}
p.title-modal {
    font-size: 25px;
    margin-top: 20px;
}
.modal-dialog-scrollable .modal-content{
    max-height: inherit !important;
}

.padding-50{
    padding: 20px 12px 0px 12px;
}
.title-modal{
    text-align: center;
    width: 100%;
}
.dark{
    color:black;
}
.light{
    color:white;
    font-size: 13px;
    text-align: center;
}
.modal-header img {
    width: 30%;
    height: auto !important;
}
.modal-dialog{
    background: url(../../../assets/back/shadow_modal_01.jpg);
    background-size: cover;
    background-position: center;
    margin: 0px !important;
}
.modal-content{
    background: transparent;
    border: none;
}
.contentTitle{
    width: 100%;
    text-align: center;
}
.stc{color:red}
.titleModalvalidate{
    font-size: 30px;
    font-weight: 900;
    color: black;
}
.titleModalvalidate span{
    color: white;
}
.modal-dialog-scrollable .modal-content {
    max-height: calc(90vh - 3.5rem);
}
.form-control{
    border-radius: 10px;
}
.label {
    display: inline-block;
    margin-bottom: .2rem;
    color: white;
}
.titleFecha{
    font-size: 16px;
    font-weight: 100;
    color: #fff;
    text-align: center; 
    width: 100%;
}
.fecha{
    font-size: 22px;
    font-weight: 900;
    color:#fff;
    text-align: center;    
}
input[type=checkbox]{
    box-sizing: border-box;
    padding: 0;
    width: 25px;
    height: 25px;    
}
.invalid-feedback, .invalid-feedaback{
    display: block;
    color: #dc3545 !important;
    text-align: center;
}
.contentBtnValidar{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top:10px;
}
.buttonform{
    border-radius: 20px;
    padding: 8px 25px;
    color: #000000 !important;
    font-size: 15px !important;
    font-family: 'Roboto';
    font-weight: 900;
    background: yellow !important;
    width: 50%;
}
label {
    display: inline-block;
    margin-bottom: .2rem;
    color: #c1c1c1;
    font-size: 13px;
}
.invalidBtn{
    border-radius: 20px;
    padding: 8px 25px;
    color: #a8a8a8;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 900;
    background: rgb(214, 214, 214);
}
.invalid-feedback p {
    margin-bottom: 0px;
}
.buttonform:hover{
    background: rgb(206, 206, 3);
}
.disbledButton{
    pointer-events: none;
}


@media only screen and (max-width: 600px) {
    p.title-modal.light {
        font-size: 16px !important;
        font-weight: bold;
    }
    p.description.light {
        font-size: 12px;
        text-align: center;
        margin-bottom: 0px;
    }
    .modal-dialog-scrollable {
        background-position: 30%;
        margin: 0px !important;
    }
    .buttonform{
        font-size: 11px !important;
        background: yellow !important;
        width: 90%;
    }
    .padding-50{
        padding: 19px 12px 0px 12px;
    }
}