.modal-dialog{
    background: url(../../../assets/media/bg_register.jpg) !important;
    background-size: cover;
    background-position: center;
    margin: 0px !important;
}
.modal-content{
    background: transparent;
    border: none;
}
.mat-dialog-container{
    padding: 0px !important;
}
.contentImgModal{
    margin-left: auto;
    margin-right: auto;
    width: min-content;
}
.form-control{
    border-radius: 10px !important;    
}
label{
    font-size: 20px !important;
}
input[type=checkbox]{
    box-sizing: border-box;
    padding: 0;
    width: 25px;
    height: 25px;    
}
.invalid-feedback{
    display: block;
    color: black;
}
.contetBtn{
    display: flex;
    justify-content: center;
    width: 100%;
}
p.ng-star-inserted {
    margin: 0px;
    padding: 0px;
}
.buttonform{
    border-radius: 15px;
    padding: 5px 25px;
    color: #4f4f4f !important;
    font-size: 22px;
    font-family: 'Roboto';
    font-weight: 900;
    background: yellow !important;
}
.invalidBtn{
    border-radius: 10px;
    padding: 5px 25px;
    color: #a8a8a8;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 900;
    background: rgb(214, 214, 214);
}
.disbledButton{
    pointer-events: none;
}
.buttonform:hover{
    background: rgb(206, 206, 3);
}
.okGO{
    width: 600%;
    margin: 100px auto auto auto;
    text-align: center;
    line-height: 1;
}
.okRegiter{
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.GO{
    color:black;
    font-size: 35px;
    font-weight: 900;
}
.GO span{
    color: white;
}