<div class="modal" tabindex="-1" role="dialog" style="display: contents;">
  <div class="modal-dialog modal-dialog-scrollable modal-m">
    <div *ngIf="currentState == 1" class="modal-content">
      <form [formGroup]="registerForm" (ngSubmit)="saveUser($event)">
        <div class="modal-header">
          <div class="contentImgModal">
            {{ 'home.registrate' | translate }}
          </div>
        </div>
        <div class="modal-body" style="height: 400px;">
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="email" class="form-control" id="inputNombre" formControlName="nombre"
                placeholder="Nombres">
              <div *ngIf="nameUpdate.invalid && (nameUpdate.touched || nameUpdate.dirty)" class="invalid-feedback">
                <p *ngIf="nameUpdate.hasError('required')">Debes ingresar tu Nombre</p>
              </div>
            </div>
            <div class="form-group col-md-6">
              <input type="text" class="form-control" id="inputApellido" formControlName="apellidos"
                placeholder="Apellidos">
              <div *ngIf="lastUpdate.invalid && (lastUpdate.touched || lastUpdate.dirty)" class="invalid-feedback">
                <p *ngIf="lastUpdate.hasError('required')">Debes ingresar tu Apellido</p>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">

              <input type="text" class="form-control" id="inputEdad" formControlName="edad"
                placeholder="Edad">
              <div *ngIf="ageUpdate.invalid && (ageUpdate.touched || ageUpdate.dirty)" class="invalid-feedback">
                <p *ngIf="ageUpdate.hasError('required')">Debes ingresar tu Edad</p>
              </div>
            </div>
            <div class="form-group col-md-6">
              <input type="email" class="form-control" id="inputEmail" formControlName="email" placeholder="Email">
              <div *ngIf="mailUpdate.invalid && (mailUpdate.touched || mailUpdate.dirty)" class="invalid-feedback">
                <p *ngIf="mailUpdate.hasError('required')">Debes ingresar tu Correo Electronico</p>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="text" class="form-control" id="inputCelular" formControlName="celular" placeholder="Celular">
              <div *ngIf="phoneUpdate.invalid && (phoneUpdate.touched || phoneUpdate.dirty)" class="invalid-feedback">
                <p *ngIf="phoneUpdate.hasError('required')">Debes ingresar tu Correo Electronico</p>
              </div>
            </div>
            <div class="form-group col-md-6">
              <input type="text" class="form-control" id="inputTelefono" formControlName="telefono"
                placeholder="Telefono">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <select id="inputState" class="form-control custom-select" formControlName="pais">
                <option selected value="">Selecciona un pais...</option>
                <option *ngFor="let co of countries; index as i" [value]="co.name" >{{co.name}}</option>
              </select>
              <div *ngIf="countryUpdate.invalid && (countryUpdate.touched || countryUpdate.dirty)"
                class="invalid-feedback">
                <p *ngIf="countryUpdate.hasError('required')">Debes Seleccionar tu pais</p>
              </div>
            </div>
            <div class="form-group col-md-6">
              <input type="text" class="form-control" id="inputCiudad" placeholder="Ciudad" formControlName="ciudad">
              <div *ngIf="cityUpdate.invalid && (cityUpdate.touched || cityUpdate.dirty)" class="invalid-feedback">
                <p *ngIf="cityUpdate.hasError('required')">Debes Ingresar tu ciudad</p>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <input type="text" class="form-control" id="iglesia" placeholder="Nombre de tu Iglesia"
                formControlName="iglesia">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <input type="text" class="form-control" id="inputLider" placeholder="Nombre de tu Pastor / Lider"
                formControlName="liderPrincipal">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12 col-auto" style="margin-top: auto">
              <div class="form-check" style="display: flex;">
                <input class="form-check-input" type="checkbox" id="terminosYCondiciones" class="margin-top: 0"
                  formControlName="terminosYCondiciones">
                <label class="form-check-label" for="terminosYCondiciones" style="margin-left: 10px;">
                  Acepto Terminos y condiciones
                </label>
              </div>
              <div *ngIf="terminos.invalid && (terminos.touched || terminos.dirty)" class="invalid-feedback">
                <p *ngIf="terminos.hasError('required')">Debes aceptar los terminos y condiciones</p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="contetBtn">
            <button type="submit" class="invalidBtn" [disabled]="registerForm.invalid"
              [ngClass]="{'buttonform': registerForm.valid, 'disbledButton':loaderButton}">
              <span [ngClass]="{'spinner-border': loaderButton}"></span>REGISTRARME</button>
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="currentState == 2" class="modal-content">
      <div class="modal-header">
        <div class="container padding-50">
            <div class="row">
                <img src="https://cdn.somosunogo.com/argentina/logo_convencion.png" style="margin: 0 auto;" />
            </div>
            <div class="row">
                <p class="title-modal light">BIENVENIDO</p>
            </div>
            <div class="row">
                <p class="description light">Hemos enviado un mensaje de confirmación a tu correo con tus datos de acceso, valida tu información para poder ingresar a la plataforma.</p>
            </div>
            
        </div>
      </div>
    </div>
    <div *ngIf="currentState == 3" class="modal-content">
      <div class="modal-header">
        <div class="container padding-50">
        <div class="row">
          <img src="https://cdn.somosunogo.com/argentina/logo_convencion.png" style="margin: 0 auto;" />
        </div>
        <div class="row">
          <p class="title-modal light">Usuario Existente</p>
      </div>
      <div class="row">
          <p class="description light">Ya existe una cuenta creada con este correo electronico, porfavor valida la existencia de un codigo en tu correo electronico o en la opcion de Buscar mi codigo.</p>
      </div>
      </div>
      </div>
    </div>
    <div *ngIf="currentState == 4" class="modal-content">
      <div class="modal-header">
        <div class="okGO">
          <p class="GO">ALGO HA SALIDO MAL <span>INTENTALO NUEVAMENTE</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
