<div class="content-modal">

    <div class="contentImgModal">
        <img src="../../../assets/back/registro_textoMRegistro.png" width="700">
    </div>
    <div *ngIf="currentState == 1" class="formRegister">
        <form [formGroup]="registerForm" (ngSubmit)="saveUser($event)">
            <div class="contentInput">
                <label for="name" class="labels"><span class="stc">*</span> Nombres</label>
                <input type="text" id="name" class="inputForm" formControlName="nombre">                
            </div>
            <div class="contentInput">
                <label for="lastname" class="labels"><span class="stc">*</span> Apellidos</label>
                <input type="text" id="lastaname" class="inputForm" formControlName="apellidos">                
            </div>
            <div class="contentInput">
                <label for="email" class="labels"><span class="stc">*</span> Correo</label>
                <input type="text" id="email" class="inputForm" formControlName="email">                
            </div>
            <div class="contentInput">
                <label for="cellphone" class="labels"><span class="stc">*</span> Celular</label>
                <input type="text" id="cellphone" class="inputForm" formControlName="celular">                
            </div>
            <div class="contentInput">
                <label for="phone" class="labels"><span class="stc">*</span> Telefono</label>
                <input type="text" id="phone" class="inputForm" formControlName="telefono">                
            </div>
            <div class="contentInput">
                <label for="age" class="labels"><span class="stc">*</span> Edad</label>
                <input type="text" id="age" class="inputForm" formControlName="edad">                
            </div>
            <!-- select  country-->
            <div class="contentSelect">
                <mat-label class="labels"><span class="stc">*</span> Pais</mat-label>
                <mat-select formControlName="pais">
                    <mat-option *ngFor="let co of countries; index as i" [value]="co.name">
                        {{co.name}}</mat-option>
                </mat-select>                
            </div>
            <div class="contentInput">
                <label for="city" class="labels"><span class="stc">*</span> Ciudad</label>
                <input type="text" id="age" class="inputForm" formControlName="ciudad">                           
            </div> 
            <!-- select church-->
            <div class="contentSelect">
                <mat-label  class="labels"><span class="stc">*</span> Iglesia</mat-label>
                <mat-select formControlName="iglesia">
                    <mat-option value="">Seleccione una opcion</mat-option>
                    <mat-option value='pertenece_mci'>Soy parte de la MCI</mat-option>
                    <mat-option value='G12_church'>G12 Church</mat-option>
                    <mat-option value='otra_iglesia'>Otra Iglesia</mat-option>
                    <mat-option value='ninguna'>No pertenezco a ninguna iglesia</mat-option>
                </mat-select>                
            </div>
            <!-- soy parte de mci -->
            <div *ngIf="validSede" class="contentInput">
                <label for="campus" class="labels"><span class="stc">*</span> Sede</label>
                <mat-select formControlName="sedeMci">
                    <mat-option value=''>Seleccione una sede</mat-option>
                    <mat-optgroup label="Sede Principal">
                    <mat-option value='bogota_principal'>MCI Bogota - Sede Principal</mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Sede - Internacional Argentina">
                        <mat-option value='mci-buenos-aires'>MCI Buenos Aires</mat-option>
                        <mat-option value='mci-ushuaia'>MCI Ushuaia</mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Sede - Internacional España">
                        <mat-option value='mci-barcelona'>MCI Barcelona</mat-option>
                        <mat-option value='mci-madrid'>MCI Madrid</mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Sede - Internacional Estados Unidos">
                        <mat-option value='mci-san-diego'>MCI San Diego</mat-option>
                        <mat-option value='mci-los-angeles'>MCI Los Angeles</mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Bolivia">
                        <mat-option value='mci-santa-cruz'>MCI Santa Cruz</mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Chile">
                        <mat-option value='mci-santiago-chile'>MCI Santiago de Chile</mat-option>
                        <mat-option value='mci-vina-de-mar'>MCI Viña del Mar</mat-option>
                        <mat-option value='mci-talca'>MCI Talca</mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Ecuador">
                        <mat-option value='mci-quito'>MCI Quito</mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Holanda">
                        <mat-option value='mci-utrecht'>MCI Utrecht</mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Francia">
                        <mat-option value='mci-lyon'>MCI Lyon</mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Mexico">
                        <mat-option value='mci-ciudad-mexico'>MCI Ciudad de Mexico</mat-option>
                        <mat-option value='mci-durango'>MCI Durango</mat-option>
                        <mat-option value='mci-yucatan'>MCI Yucatan</mat-option>
                        <mat-option value='mci-tijuana'>MCI Tijuana</mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Paraguay">
                        <mat-option value='mci-asuncion'>MCI Asuncion</mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Peru">
                        <mat-option value='mci-Lima'>MCI Lima</mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Uruguay">
                        <mat-option value='mci-montevideo'>MCI Montevideo</mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Venezuela">
                        <mat-option value='mci-turmero'>MCI Turmero</mat-option>
                        <mat-option value='mci-maracaibo'>MCI Maracaibo</mat-option>
                        <mat-option value='mci-yaritagua'>MCI Yaritagua</mat-option>
                    </mat-optgroup>

                    <mat-optgroup label="Nacionales - Antioquia">
                        <mat-option value='mci-medellin'>MCI Medellin</mat-option>
                        <mat-option value='mci-occidente'>MCI Occidente</mat-option>
                        <mat-option value='mci-envigado'>MCI Envigado</mat-option>
                        <mat-option value='mci-itagui'>MCI Itagui</mat-option>
                        <mat-option value='mci-rionegro'>MCI Rionegro</mat-option>
                        <mat-option value='mci-bello'>MCI Bello</mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Nacionales - Arauca">
                        <mat-option value='mci-arauca'>MCI Arauca</mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Nacionales - Atlantico">
                        <mat-option value='mci-barranquilla'>MCI Barranquilla</mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Nacionales - Bolivar">
                        <mat-option value='mci-cartagena'>MCI Cartagena</mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Nacionales - Boyaca">
                        <mat-option value='mci-tunja'>MCI Tunja</mat-option>
                        <mat-option value='mci-duitama'>MCI Duitama</mat-option>
                        <mat-option value='mci-chiquinquira'>MCI Chiquinquira</mat-option>
                        <mat-option value='mci-moniquira'>MCI Moniquira</mat-option>
                        <mat-option value='mci-puerto-Boyaca'>MCI Puerto Boyacá</mat-option>
                        <mat-option value='mci-sogamoso'>MCI Sogamoso</mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Nacionales - Caldas">
                        <mat-option value='mci-manizales'>MCI Manizales</mat-option>
                        <mat-option value='mci-la-dorada'>MCI La Dorada</mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Nacionales - Casanare">
                        <mat-option value='mci-yopal'>MCI Yopal</mat-option>
                        <mat-option value='mci-villanueva'>MCI Villanueva</mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Nacionales - Cauca">
                        <mat-option value='mci-popayan'>MCI Popayan</mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Nacionales - Cesar">
                        <mat-option value='mci-valledupar'>MCI Valledupar</mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Nacionales - Cordoba">
                        <mat-option value='mci-monteria'>MCI Monteria</mat-option>
                    </mat-optgroup>

                    <mat-optgroup label="Nacionales - Huila">
                        <mat-option value='mci-neiva'>MCI Neiva</mat-option>
                        <mat-option value='mci-garzon'>MCI Garzon</mat-option>
                        <mat-option value='mci-pitalito'>MCI Pitalito</mat-option>
                        <mat-option value='mci-la-plata'>MCI La Plata</mat-option>
                    </mat-optgroup>

                    <mat-optgroup label="Nacionales - Magdalena">
                        <mat-option value='mci-santa-marta'>MCI Santa Marta</mat-option>
                    </mat-optgroup>

                    <mat-optgroup label="Nacionales - Guajira">
                        <mat-option value='mci-maicao'>MCI Maicao</mat-option>
                    </mat-optgroup>

                    <mat-optgroup label="Nacionales - Meta">
                        <mat-option value='mci-villavicencio'>MCI Villavicencio</mat-option>
                        <mat-option value='mci-acacias'>MCI Acacias</mat-option>
                        <mat-option value='mci-puerto-lopez'>MCI Puerto Lopez</mat-option>
                        <mat-option value='mci-granada-meta'>MCI Granada Meta</mat-option>
                        <mat-option value='mci-fuente-oro'>MCI Fuente De Oro</mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Nacionales - Nariño">
                        <mat-option value='mci-pasto'>MCI Pasto</mat-option>
                        <mat-option value='mci-ipiales'>MCI Ipiales</mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Nacionales - Cundinamarca">
                        <mat-option value='mci-usme'>MCI Usme</mat-option>
                        <mat-option value='mci-ciudad-bolivar'>MCI Ciudad Bolivar</mat-option>
                        <mat-option value='mci-soacha'>MCI Soacha</mat-option>
                        <mat-option value='mci-bosa'>MCI Bosa</mat-option>
                        <mat-option value='mci-chia'>MCI Chia</mat-option>
                        <mat-option value='mci-girardot'>MCI Girardot</mat-option>
                        <mat-option value='mci-fusagasuga'>MCI Fusagasuga</mat-option>
                        <mat-option value='mci-mesitas'>MCI Mesitas del colegio</mat-option>
                        <mat-option value='mci-la-mesa'>MCI La Mesa</mat-option>
                        <mat-option value='mci-puerto-salgar'>MCI Puerto Salgar</mat-option>
                        <mat-option value='mci-la-vega'>MCI La vega</mat-option>
                        <mat-option value='mci-sibate'>MCI La Sibate</mat-option>
                        <mat-option value='mci-ubate'>MCI Ubate</mat-option>
                        <mat-option value='mci-tenjo'>MCI Tenjo</mat-option>
                        <mat-option value='mci-choconta'>MCI Choconta</mat-option>
                        <mat-option value='mci-tabio'>MCI Tabio</mat-option>
                        <mat-option value='mci-la-calera'>MCI La Calera</mat-option>
                        <mat-option value='mci-simijaca'>MCI Simijaca</mat-option>
                        <mat-option value='mci-mosquera'>MCI Mosquera</mat-option>
                        <mat-option value='mci-el-rosal'>MCI El Rosal</mat-option>
                        <mat-option value='mci-facatativa'>MCI Facatativa</mat-option>
                        <mat-option value='mci-madrid'>MCI Madrid</mat-option>
                        <mat-option value='mci-zipaquira'>MCI Zipaquira</mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Nacionales - Quindio">
                        <mat-option value='mci-manizales'>MCI Armenia</mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Nacionales - Risaralda">
                        <mat-option value='mci-manizales'>MCI Pereira</mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Nacionales - Santander">
                        <mat-option value='mci-bucaramanga'>MCI Bucaramanga</mat-option>
                        <mat-option value='mci-barbosa'>MCI Barbosa</mat-option>
                        <mat-option value='mci-barrancabermeja'>MCI Barrancabermeja</mat-option>
                        <mat-option value='mci-puerto-wilches'>MCI Puerto Wilches</mat-option>
                        <mat-option value='mci-sabana-torres'>MCI Sabana De Torres</mat-option>
                        <mat-option value='mci-el-playon'>MCI El Playon</mat-option>
                        <mat-option value='mci-malaga'>MCI Malaga</mat-option>
                        <mat-option value='mci-san-gil'>MCI San Gil</mat-option>
                        <mat-option value='mci-curiti'>MCI Curiti</mat-option>
                        <mat-option value='mci-socorro'>MCI Socorro</mat-option>
                        <mat-option value='mci-cucuta'>MCI Cucuta</mat-option>
                        <mat-option value='mci-pamplona'>MCI pamplona</mat-option>
                        <mat-option value='mci-ocana'>MCI Ocaña</mat-option>
                        <mat-option value='mci-villa-rosario'>MCI Villa Del Rosario</mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Nacionales - Tolima">
                        <mat-option value='mci-ibague'>MCI Ibague</mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Nacionales - Valle del cauca">
                        <mat-option value='mci-cali'>MCI Cali</mat-option>
                    </mat-optgroup>
                </mat-select>                
            </div>
            <!-- mci- bogota -->
            <div *ngIf="validRed">
                <mat-radio-group  formControlName="red">
                    <div class="contentCheck">
                        <mat-radio-button value="Mujeres"> Mujeres</mat-radio-button>
                        <mat-radio-button value="Hombres"> Hombres</mat-radio-button>
                    </div>
                </mat-radio-group>
            </div>
            
            <!-- select pastor -->
            <div *ngIf="validRedMen" class="contentSelect">
                <mat-label class="labels"><span class="stc">*</span> Pastor Principal</mat-label>
                <mat-select formControlName="redHombres">
                    <mat-option value="">Selecciona tu Pastor </mat-option>
                    <mat-option *ngFor="let ps of pastores" [value]="ps.value">{{ps.name}}</mat-option>
                </mat-select>                
            </div>
            <!-- select pastoras-->
            <div *ngIf="validredWomen" class="contentSelect">
                <mat-label class="labels"><span class="stc">*</span> Pastora Principal</mat-label>
                <mat-select formControlName="redMujeres">
                    <mat-option value="">Selecciona tu Pastora</mat-option>
                    <mat-option *ngFor="let ps of pastoras" [value]="ps.value">{{ps.name}}</mat-option>
                </mat-select>                
            </div>
            <!-- select eliemerson -->
            <div *ngIf="validEliemerson" class="contentSelect">
                <mat-label class="labels"><span class="stc">*</span> Red Eliemerson</mat-label>
                <mat-select formControlName="redEliemerson">
                    <mat-option value="">Selecciona tu Lider de 12</mat-option>
                    <mat-option *ngFor="let eli of eliemerson" [value]="eli.name">{{eli.name}}</mat-option>
                </mat-select>                
            </div>
            <!-- red lau -->
            <div *ngIf="validLau" class="contentSelect">
                <mat-label class="labels"><span class="stc">*</span> Red Lau Guerra</mat-label>
                <mat-select formControlName="redLauGuerra">
                    <mat-option value="">Selecciona tu Lider de 12</mat-option>
                    <mat-option *ngFor="let la of lau" [value]="la.name">{{la.name}}</mat-option>
                </mat-select>                
            </div>
            <!-- select johana -->
            <div *ngIf="validJohana" class="contentSelect">
                <mat-label class="labels"><span class="stc">*</span> Red Johana Proenca</mat-label>
                <mat-select formControlName="redJohanna">
                    <mat-option value="">Selecciona tu Lider de 12</mat-option>
                    <mat-option *ngFor="let joh of johana" [value]="joh.name">{{joh.name}}</mat-option>
                </mat-select>                
            </div>
            <!-- red sara -->
            <div *ngIf="validSara" class="contentSelect">
                <mat-label class="labels"><span class="stc">*</span> Red Sara Castellanos</mat-label>
                <mat-select formControlName="redSaraCastellanos">
                    <mat-option value="">Selecciona tu Lider de 12</mat-option>
                    <mat-option *ngFor="let sa of sara" [value]="sa.name">{{sa.name}}</mat-option>
                </mat-select>                
            </div>
            <!-- lider de 12 -->
            <div *ngIf="validTwelve" class="contentInput">
                <label for="leader" class="labels"><span class="stc">*</span> Lider de 12</label>
                <input type="text" id="leader" class="inputForm" formControlName="liderPrincipal">                
            </div>
            <!-- select otro iglesia -->
            <div *ngIf="validOtraIglesia" class="contentInput">
                <label for="otherChurch" class="labels"><span class="stc">*</span> Nombre de tu Iglesia</label>
                <input type="text" id="otherChurch" class="inputForm" formControlName="otraIglesia">                
            </div>
            <!-- talleres -->
            <div class="contentSlect">
                <mat-label class="labels"><span class="stc">*</span> Talleres</mat-label>
                <mat-select formControlName="talleres">
                    <mat-option value=''>Seleccione un Taller</mat-option>
                    <mat-option value='Perspectiva Cristiana'>Perspectiva Cristiana</mat-option>
                    <mat-option value='Estudio Bíblico'>Estudio Bíblico</mat-option>
                    <mat-option value='Finanzas'>Finanzas</mat-option>
                    <mat-option value='Liderazgo'>Liderazgo</mat-option>
                    <mat-option value='Creativo'>Creativo</mat-option>
                    <mat-option value='Carrera'>Carrera</mat-option>
                </mat-select>                
            </div>
            <!-- select  language-->
            <div class="contentSlect">
                <mat-label class="labels"><span class="stc">*</span> Idioma</mat-label>
                <mat-select formControlName="idioma">
                    <mat-option value=''>Seleccione un Idioma</mat-option>
                    <mat-option *ngFor="let lang of language" [value]="lang.name">{{lang.name}}</mat-option>
                </mat-select>                
            </div>
            <div class="checkBox">
                <mat-checkbox formControlName="terminosYCondiciones" class="checkTerminos" >Acepto Terminos y condiciones</mat-checkbox>
            </div>

            <div class="contetBtn">
                <button class="btn" type="submit" >REGISTRARME</button>
            </div>
        </form>
    </div>

    <div *ngIf="currentState == 2" class="okGO">
        <p class="okRegiter">tu registro a sido exitoso</p>
        <p class="GO">preparate para la conveción SOMOS UNO GO!</p>
    </div>
</div>