::-webkit-scrollbar {
    display: none;
}
.content-chat{   
    min-height: 500px;
    height: 500px;
    overflow: auto;
    padding: 0;
}
.back-cloud{
    background:transparent; 
    padding: 2px;   
}
.cloud{
    /*border: none;
    background: #191919 !important;*/
    border: none;
    background: #000000 !important;
    border-radius: 13px;
    width: 90%;
    margin: 1px auto;
    padding: 9px 10px;
}

.cloudMessage {
    display: flex;
    padding: 5px 5px 0 5px;
}

.content-emojis {
    position: absolute;
    margin-top: -33px;
    margin-left: 5px;
}

.attachment {
    border-radius: 72px;
    width: 40px;
    border: none;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3)
}

.textName {
    font-size: 11px;
    margin-bottom: auto;
    text-align: end;
}

.content-message {
    width: 100%;
    padding: 0 5px 0 15px;
}

.text-message {
    width: 100%;
}

.messageList {
    width: 100%;
    margin-top: 5px;
    font-family:  Poppins,sans-serif;
    font-size: 13px;    
    color:whitesmoke;
    margin-right: auto;
    margin-bottom: 0;
    line-height: 1;
    text-align: start;
}

.text-time {
    width: min-content;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.timeMessage {
    width: 100%;
    font-family:  Poppins,sans-serif;
    font-size: 10px;    
    color:whitesmoke;    
    text-align: end;   
    margin-bottom: 0;
}

.hrMessage {
    border-top: 1px solid #4f4f4f;
    margin-bottom: 2px;
    margin-top: 2px;
}

.goContent {
    display: flex;
    align-items: center;
    padding: 5px 0 0;
}

.control {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.inputLook {
    width: 100%;
    height: 40px;
    border: none;
    font-family: Poppins,sans-serif;
    font-size: 16px;
    color: #4f4f4f;
    padding-left: 50px;
    padding-right: 80px;
    outline-style: none;
}

.btninputLook {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    color: white;
    width: 67px;
    cursor: pointer;
    height: 35px;
    outline: none;
    position: absolute;
    margin-left: -70px;
    margin-top: 3px;
    transition: .3s all ease;
}

.imgButton {
    width: 27px;
}