<div class="container content-chat">

    <div class="main-panel">

        <div class="no-messages" *ngIf="chats && chats.length === 0">
            No hay mensajes...
        </div>

        <div class="no-messages" *ngIf="loader">
            <div class="lds-ring">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

        <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
            [infiniteScrollContainer]="selector" [fromRoot]="true" *ngIf="chats && chats.length >= 1">

            <div class="item-chat" *ngFor="let message of chats" (click)="removeItem(message);">

                <div class="cloud-chat">

                    <div class="container-img-cloud">

                        <img src="https://cdn.somosunogo.com/argentina/logo_convencion.png">
                       

                    </div>

                    <div class="container-msg-cloud">
                        <div class="chat-user">{{ message.username }}</div>
                        <div class="chat-message">{{ message.message ? message.message : '' }}</div>
                    </div>

                </div>

            </div>

            <div *ngIf="await">
                <div class="alert alert-warning" role="alert">
                    Tu próximo mensaje lo debes escribir en 15 segundos.
                </div>
            </div>

        </div>

        <div id="destination" #destinationRef></div>

    </div>

</div>

<div class="container-send">

    <div class="container-emoji-picker">
        <button class="attachment" (click)="toggled = !toggled" [(emojiPickerIf)]="toggled" type="button"
            [emojiPickerDirection]="'left'" (emojiPickerSelect)="handleSelection($event);">
            <img style="height: 20px;" src="../../../../assets/smile.svg">
        </button>
    </div>

    <form class="form-flex" [formGroup]="sendMessage" (ngSubmit)="newMessage($event);">

        <div class="container-input-send">
            <textarea #message class="form-control form-control-fix" id="exampleFormControlTextarea1" maxlength="200"
                formControlName="message" [(ngModel)]="emojiSelected"
                style="min-height: 60px !important; max-height: 137px !important;"></textarea>
        </div>

        <div class="container-button-send">
            <button class="btn btn-dark btn-fix" type="submit" [disabled]="!sendMessage.valid || blockButton">
                <img style="height: 20px;" src="../../../../assets/send.svg">
            </button>
        </div>

    </form>

</div>