/* ::-webkit-scrollbar {
    display: none;
} */

/* CONTAINERS */

.content-chat {
    min-height: 500px;
    height: 500px;
    padding: 0;
}

.content-emojis {
    position: absolute;
    margin-top: -40px;
    margin-left: 5px;
}

.attachment {
    width: 40px;
    border: none;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
    height: 30px;
    background-color: transparent;
}

.imgButton {
    width: 27px;
}

/* CHAT STYLING */

.item-chat {
    height: auto;
}

.cloud-chat {
    display: flex;
    margin-top: 15px;
    height: auto;
}

.container-msg-cloud {
    height: auto;
    width: 100%;
    background-color: #ffffff00;
    color: white;
    margin-left: 5px;
    border-radius: 0px 43px 43px 20px;
    -moz-border-radius: 0px 43px 43px 20px;
    -webkit-border-radius: 0px 43px 43px 20px;
}

.chat-user {
    font-size: small;
    font-weight: bold;
    color: #ffffffb3;
}

.chat-message {
    line-height: 16px;
    font-size: smaller;
    margin-bottom: 10px;
    color: #ffffff;
}

.main-panel {
    height: 100%;
    overflow-y: scroll;
}

/* IMG STYLING */

.container-img-cloud {
    margin-left: 10px;
}

/* INPUT SEND */

.container-send {
    /* border: 5px solid red; */
    height: auto;
    margin-top: 10px;
}

.container-emoji-picker .container-button-send {
    /* border: 5px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-input-send {
    /* border: 5px solid darkmagenta; */
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-button-send {
    padding-right: 10px;
    /* border: 5px solid aqua; */
}

/* FORM STYLING */

.form-flex, .container-send {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.mat-hind {
    color: white !important;
}

.mat-form-field-appearance-legacy .mat-hint {
    color: white !important;
}

.form-control-fix {
    color: rgba(255, 255, 255, 0.678) !important;
    background-color: #2f2f2f !important;
    border: 1px solid #000000 !important;
}

.form-control-fix:focus {
    box-shadow: none !important;
}

.btn-fix {
    background-color: transparent !important;
    border-color: transparent !important;
}

.btn-fix:focus {
    box-shadow: none !important;
}

/* OVERFLOW STYLING */

.main-panel::-webkit-scrollbar {
    width: 12px;
}

.main-panel::-webkit-scrollbar-track {
    background-color: black;
    border-radius: 10px;
}

.main-panel::-webkit-scrollbar-thumb {
    background-color: gray;
}

/* NO MESSAGES */

.no-messages {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOADER */

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}