::ng-deep.mat-dialog-container{
    width: auto;
    background: url(../../../assets/back/watherPink.jpg);
    background-size: cover;
    background-position: center;
}
.modal-content{
    background: transparent;
    border: none;
}
.modal-header p{
    font-size: 32px;
    color: white;
    font-weight: 900;
}
.modal-header p span{
    font-size: 32px;
    color: black;
}
.contentBtn{
    display: flex;
    justify-content: center;
}
.btnLogin{
    color: #4f4f4f;
    font-size: 22px;
    font-family: 'Roboto';
    font-weight: 900;
    background: yellow;
    opacity: 1;
}
.btnLogin:hover{
    background: rgb(206, 206, 3);
}