::ng-deep.mat-dialog-container {
    width: auto;
    background: url(../../../assets/back/watherPink.jpg);
    background-size: cover;
    background-position: center;
}

.modal-content {
    background: transparent;
    border: none;
}

.modal-header p {
    font-size: 32px;
    color: white;
    font-weight: 900;
}

.modal-header p span {
    font-size: 32px;
    color: black;
}

.okGO {
    width: 600%;
    margin: 100px auto auto auto;
    text-align: center;
    line-height: 1;
}

.GO {
    color: black;
    font-size: 35px;
    font-weight: 900;
}

.GO span {
    color: white;
}

.contentBtn {
    display: flex;
    justify-content: center;
}

.btnLogin {
    color: #4f4f4f;
    font-size: 22px;
    font-family: 'Roboto';
    font-weight: 900;
    background: yellow;
    opacity: 1;
}

.btnLogin:hover {
    background: rgb(206, 206, 3);
}

.codeValidation {
    display: flex;
}

.codeValidation>.row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center-items {
    display: flex;
    justify-content: center;
}

p.description.light {
    font-size: 22px;
    text-align: center;
    margin-bottom: 0px;
}
.buttonform{
    border-radius: 20px;
    padding: 8px 25px;
    color: #000000 !important;
    font-size: 15px !important;
    font-family: 'Roboto';
    font-weight: 900;
    background: yellow !important;
    width: 50%;
}
.buttonform:hover{
    background: rgb(206, 206, 3);
}
.codeValidation {
    overflow: auto !important;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: unset;
}
@media screen and (max-width: 600px) {
    p.title-modal.light {
        font-size: 15px;
        font-weight: bold;
    }
    p.description.light {
        font-size: 12px;
        text-align: center;
        margin-bottom: 0px;
    }
    .buttonform{
        font-size: 11px !important;
        background: yellow !important;
        width: 90%;
    }
}