::ng-deep.mat-dialog-container {
    width: 500px;
    /* background: url("https://cdn.somosunogo.com/watherPink.jpg"); */
    background-size: cover;
    background-position: center;
}

.modal-content {
    background: transparent;
    border: none;
}

a.a-code {
    width: 85%;
    text-align: center;
    color: black;
    background: gainsboro;
    padding: 3%;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
}

p.description {
    width: 100%;
    display: block;
    font-size: 12px;
    text-align: center;
}

.h2, h2 {
    font-size: 2rem;
    text-align: center;
}

p.description_resend {
    width: 90%;
    display: block;
    font-size: 12px;
    text-align: center;
}

.modal-header p {
    font-size: 32px;
    color: white;
    font-weight: 900;
}

.modal-header p span {
    font-size: 32px;
    color: black;
}

.okGO {
    width: 600%;
    margin: 100px auto auto auto;
    text-align: center;
    line-height: 1;
}

.GO {
    color: black;
    font-size: 35px;
    font-weight: 900;
}

.GO span {
    color: white;
}

.contentBtn {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.btnLogin {
    color: #4f4f4f;
    font-family: Poppins, sans-serif;
    font-weight: 900;
    background: yellow;
    opacity: 1;
}

.btnLogin:hover {
    background: rgb(206, 206, 3);
}

.codeValidation {
    display: flex;
}

.codeValidation>.row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center-items {
    display: flex;
    justify-content: center;
}

p.description.light {
    font-size: 22px;
    text-align: center;
    margin-bottom: 0px;
    padding: 10px;
    text-align: justify;
}

.buttonform {
    border-radius: 20px;
    padding: 8px 25px;
    color: #000000 !important;
    font-size: 15px !important;
    font-family: Poppins, sans-serif;
    font-weight: 900;
    background: yellow !important;
    width: 50%;
}

.buttonform:hover {
    background: rgb(206, 206, 3);
}

.codeValidation {
    overflow: auto !important;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: unset;
}

#toLowerEmail {
    text-transform: lowercase !important;
}

.error-message {
    color: rgb(196, 20, 20);
    font-weight: bold;
    height: auto;
}

.label-bold {
    font-weight: bold;
}

.resend-title:hover {
    cursor: pointer;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.buttonEnter {
    border: none;
    background: #040404;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    margin: 0 auto;
    text-transform: uppercase;
    width: 90%;
}

.container-title-login {
    display: block;
    width: 100%;
    /*justify-content: center;
    align-items: center;*/
}

.idonthave-code {
    display: block;
    justify-content: flex-end;
    padding-top: 20px;
}

.a-code:hover {
    cursor: pointer !important;
}

.buttonCancel {
    width: auto;
    border: none;
    background: #80808099;
    border-radius: 80px;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    margin: 0 auto;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    p.title-modal.light {
        font-size: 15px;
        font-weight: bold;
    }
    p.description.light {
        font-size: 12px;
        text-align: center;
        margin-bottom: 0px;
    }
    .buttonform {
        font-size: 11px !important;
        background: yellow !important;
        width: 90%;
    }
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: black !important;
    font-weight: bold;
}