<div class="modal" tabindex="-1" role="dialog" style="display: contents;">
    <div class="modal-dialog-scrollable">
        <div *ngIf="validationCode == 0" class="modal-content">
            <div class="modal-header">
                <p>{{ 'modals.iniciarsesion1' | translate }} <span>{{ 'modals.iniciarsesion2' | translate }} </span></p>
            </div>
            <form [formGroup]="formlogin" (ngSubmit)="login($event)">
                <div class="modal-body">
                    <div class="formLogin">
                        <div class="form-row">
                            <label for="correo">{{ 'modals.descripcion_modal' | translate }}</label>
                            <input id="toLowerEmail" type="text" class="form-control" id="correo"
                                placeholder="{{ 'modals.input_modal' | translate }}" formControlName="email"
                                (input)="toLower($event);">
                        </div>
                    </div>
                </div>
                <div class="contentBtn modal-footer">
                    <button class="btn btn-primary btnLogin" [disabled]="formlogin.invalid">{{ 'modals.boton_modal' | translate }}
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                            *ngIf="loginValidation"></span>
                    </button>

                </div>
            </form>
        </div>
        <div *ngIf="validationCode == 2" class="modal-content">

            <div class="modal-body">

                <div class="codeValidation">

                    <div class="container padding-50">
                        <div class="center-items">
                            <img src="../../../assets/media/icons/mail.png" style="margin: 0 auto;" />
                        </div>
                        <div class="center-items">
                            <p class="description light">{{ 'modals.ingresar_codigo' | translate }}
                            </p>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="{{ 'modals.input_codigo' | translate }}"
                                aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="code">
                        </div>

                        <div>
                            <div class="contentBtn modal-footer">
                                <button class="btn btn-primary btnLogin" [disabled]="formlogin.invalid"
                                    (click)="saveValidation();" type="button">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                                        *ngIf="statusLoading"></span>

                                        {{ 'modals.boton_modal' | translate }}
                                </button>
                            </div>
                        </div>

                        <div class="alert alert-danger" role="alert" *ngIf="showAlert">
                            {{ 'modals.codigo_invalido' | translate }}
                        </div>

                        <div class="alert alert-warning" role="alert" *ngIf="emailNotFound">
                            {{ 'modals.correo_invalido' | translate }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="validationCode == 3" class="modal-content">
            <div class="modal-header">
                <div class="container padding-50">
                    <div class="row">
                        <img src="../../../assets/media/icons/face.png" style="margin: 0 auto;" />
                    </div>
                    <div class="row" style="justify-content: center;">
                        <p class="title-modal light">{{ 'modals.titulo_alerta' | translate }}</p>
                    </div>
                    <div class="row">
                        <p class="description light">
                            {{ 'modals.correo_no_registrado' | translate }}
                            </p>
                    </div>

                    <div class="row" style="margin-bottom:25px;">
                        <button type="button" class="btn buttonform" style="margin: 0 auto;"
                            (click)="showregister()">{{ 'modals.boton_registro' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>