.navbar {
    background: #272727
}

.logoNavbar {
    width: 104px;
    margin-left: 2vw;
}

a.item-lang {
    padding: 0px 15px;
    cursor: pointer;
}

.menuNavbar {
    display: flex;
    position: absolute;
    right: 70px;
}

.allNets {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-right: 200px;
}

.btnRegister {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 40px;
    background: white;
    width: 25%;
    min-width: 150px;
    max-width: 200px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    color: black;
    cursor: pointer;
}

.netLink {
    margin: auto 20px;
}

.container-profile {
    display: flex;
}

.container-tabs {
    width: 40%;
}

.background-black {
    background: #1D1D1D;
}

.background-white {
    background: #E9E9E9;
}

.info.display-f {
    float: left;
    width: 85%;
}

.img-set-profile {
    width: 10%;
    float: left;
}

.content-profile {
    width: 100%;
}

.divisor {
    border-right: 1px solid #C4C4C4;
}

.tab {
    color: white !important;
    background: #000000;
    height: auto;
}

.color-degra {
    height: 5px;
}

.container-content-profile {
    height: auto;
    padding: 50px;
}

.title-nav-profile {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    text-align: justify;
    text-transform: uppercase;
}

.languages-profiles {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 230.69%;
    text-align: justify;
    text-transform: uppercase;
    color: #FFFFFF;
}

.black {
    background: #000000 !important;
}

.tab-switch-white {
    background: #FFFFFF;
    border-radius: 20px;
}

.tab-switch-black {
    color: white !important;
    background: #101010 !important;
}

.info-video {
    display: flex;
    justify-content: space-between;
    padding: 22px;
}

.info-title {
    font-weight: bold;
    text-transform: uppercase;
}

.container-buttons {
    /* border: 5px solid blue; */
    display: flex;
    flex-wrap: nowrap;
}

.container-buttons>button {
    width: 33.3%;
}

.bttn-gray {
    background: #C4C4C4;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    height: 70px;
    color: white;
    text-transform: uppercase;
}

.container-next {
    font-style: normal;
    font-weight: bold;
    line-height: 130.69%;
    text-align: justify;
    text-transform: uppercase;
}

.content {
    padding: 22px;
}

.btn-selected {
    background: #444444 !important;
}

/* PROX- */

.container-prox {
    padding: 50px;
}

/* media */

.mediaHome {
    display: flex;
    /* border: 1px solid blue; */
}

.vimeo {
    /* border: 1px solid red;  */
    width: 70%;
    min-height: 500px;
}

.chat {
    width: 100%;
}

.fix-hover:hover {
    cursor: pointer !important;
}

.active {
    background-color: white !important;
    color: black !important;
}

/* CONTENT IMAGES HOME */

.container-content-images {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tribu-value {
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: xx-large;
}

.container-display-flex {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width:1258px) {
    .container-tabs {
        width: 100%;
    }
    .mediaHome {
        display: block;
    }
    .vimeo {
        width: 100%;
        height: 400px;
    }
    .chat {
        width: 100%;
    }
}

@media only screen and (max-width: 850px) {
    .vimeo {
        height: 350px;
    }
    .container-prox{
        padding: 13px;
    }
}

@media only screen and (max-width: 800px) {
    .container-profile {
        display: block;
    }
}

@media only screen and (max-width: 533px) {
    .container-profile-tribus {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .tribu-value {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 470px) {
    .container-content-profile {
        padding: 0;
        padding-top: 50px;
    }
}

/* LOADER */

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}