<nav class="navbar navbar-expand-lg navbar-dark" style="display: none;">
    <img src="{{ 'home.imagen-home' | translate }}" class="logoNavbar">
</nav>

<div class="container-profile" oncopy="return false" oncut="return false" onpaste="return false">

    <app-side-bar (sendTag)="sendTagReceive($event);" [tribus]="tribus"></app-side-bar>

    <div class="content-profile background-black">

        <div class="tab">

            <nav class="navbar black justify-content-between">
                <div>
                    <a class="navbar-brand title-nav-profile">
                        <img class="" src="https://cdn.somosunogo.com/argentina/logo_g12.png" style="width: 20%;">
                    </a>
                </div>
                <div class="form-inline languages-profile">
                    <a (click)="setLanguage('es')" class="divisor item-lang">ESPAÑOL</a>
                </div>
            </nav>

        </div>

        <div class="color-degra" [ngStyle]=" { background: finalColor } "></div>

        <div class="container-content-profile">

            <div
                [ngClass]="{ 'tab-switch-black': tab == 'home' || tab == 'bloques' || tab == 'tribus' || tab == 'merch' || tab == 'galeria', 'tab-switch-white' : tab == 'talleres'  }">

                <div *ngIf="tab == 'home'" class="mediaHome">

                    <div class="vimeo">

                        <div class="container-display-flex" *ngIf="loadingVideo">
                            <div class="lds-ring">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>

                        <iframe *ngIf="!loadingVideo" [src]="live_video" frameborder="0" allow="autoplay; fullscreen"
                            allowfullscreen style="top:0;left:0;width:100%;height:100%;"></iframe>
                    </div>

                    <div class="container-tabs">

                        <nav class="nav nav-pills nav-fill fix-hover">
                            <a class="nav-item nav-link" (click)="changeTabTool('notas');"
                                [ngClass]="{ 'active' : tabTools == 'notas' }">Notas</a>
                            <a class="nav-item nav-link" (click)="changeTabTool('chat');"
                                [ngClass]="{ 'active' : tabTools == 'chat' }">Chat</a>
                        </nav>

                        <div class="chat" *ngIf="tabTools == 'chat'">
                            <app-chat [finalColor]="finalColor"></app-chat>
                        </div>

                        <div *ngIf="tabTools == 'notas'">
                            <app-editor></app-editor>
                        </div>

                    </div>

                </div>

                <div class="info-video" *ngIf="tab == 'home'">

                    <div class="container-content-images">

                        <div class="container-profile-tribus" *ngFor="let tribu of tribus | orderBy" style="display: none;">

                            <img style="width: 200px;" class="rounded-circle"
                                src="https://cdn.somosunogo.com/{{ tribu.name }}.jpeg">

                            <div class="tribu-value">
                                {{ tribu.value ? tribu.value : '0' }}
                            </div>

                        </div>

                    </div>
                </div>

                <div class="container-prox"
                    *ngIf="tab != 'home' && tab != 'bloques' && tab != 'tribus' && tab != 'talleres' && tab != 'merch'" >

                    <div class="container-soon">
                        <img src="https://cdn.somosunogo.com/soonmerch.jpg"
                            style="display: flex;text-align: center;margin: 0 auto; width: 100%;" />
                    </div>

                </div>

                <div class="container-prox" *ngIf=" tab == 'bloques'">
                    <app-conferencistas [idioma]='idioma'></app-conferencistas>
                </div>

                <div class="container-prox" *ngIf=" tab == 'tribus'">
                    <app-tribus></app-tribus>
                </div>

                <div class="container-prox" *ngIf=" tab == 'merch'">
                    <app-merch></app-merch>
                </div>

                <div class="container-prox" *ngIf=" tab == 'talleres'">
                    <app-talleres *ngIf="tab == 'talleres'" [idioma]="idioma"></app-talleres>
                </div>

                <!-- 
                <app-merch *ngIf="tab =='merch'"></app-merch> -->

            </div>

        </div>

    </div>

</div>