<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="" href="#">
        <img src="https://cdn.somosunogo.com//goo.png" class="logoNavbar">
    </a>
</nav>

<div class="container-profile">

    <app-side-bar (sendTag)="sendTagReceive($event);" [tribus]="tribus"></app-side-bar>

    <div class="content-profile">

        <div class="tab">

            <nav class="navbar black justify-content-between">
                <a class="navbar-brand title-nav-profile">{{ tab ? tab : 'Home' }}</a>
                <div class="form-inline languages-profile">
                    ENGLISH -
                    ESPAÑOL -
                    PORTUGES
                </div>
            </nav>

        </div>

        <div class="color-degra" [ngStyle]=" { background: finalColor } "></div>

        <div class="container-content-profile">

            <div class="tab-switch">

                <div *ngIf="tab == 'home'" style="display: flex; border: 1px solid blue;">                    
                    <div style="border: 1px solid red; width: 60%;"><iframe
                            src="https://player.vimeo.com/video/441474151" frameborder="0" allow="autoplay; fullscreen"
                            allowfullscreen style="top:0;left:0;width:100%;height:100%;"></iframe>
                    </div>

                    
                    
                    <div class="chat" style="border: 1px solid yellow; width: 40%;">
                        <app-chat [finalColor]="finalColor"></app-chat>
                    </div>
                    

                </div>
                <div class="info-video" style="border: 1px solid green;">


                    <!-----
                    
                        
                        INSERTAR IMAGEN AQUÍ
                    
                
                    
                    -->

                    <!-- <div class="info display-f">
                        <div class="info-title">
                            Alcanzando la Promesa
                        </div>
                        Laudjair Guerra
                    </div>

                    <div class="container-next">
                        Next<br>
                        Break
                    </div> -->


                <div class="container-prox" *ngIf="tab != 'home' && tab != 'conferencistas' && tab != 'tribus'">
                 
                   
                    <img src="https://cdn.somosunogo.com//soonmerch.jpg"  style="display: flex;text-align: center;margin: 0 auto;"/>
                    
                </div>

                <div class="container-prox" *ngIf=" tab == 'conferencistas'">
                    <app-conferencistas></app-conferencistas>
                </div>

                <div class="container-prox" *ngIf=" tab == 'tribus'">
                    <app-tribus></app-tribus>
                </div>


                <!-- <app-conferencistas *ngIf="tab == 'conferencistas'"></app-conferencistas>
                <app-talleres *ngIf="tab == 'talleres'"></app-talleres>
                <app-merch *ngIf="tab =='merch'"></app-merch> -->

            </div>

        </div>

    </div>

</div>