<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="" href="#">
        <img src="./../../../assets/logs/goo.png" class="logoNavbar">
    </a>
</nav>

<div class="container-profile">

    <app-side-bar (sendTag)="sendTagReceive($event);"></app-side-bar>

    <div class="content-profile">

        <div class="tab">

            <nav class="navbar black justify-content-between">
                <a class="navbar-brand title-nav-profile">{{ tab ? tab : 'Home' }}</a>
                <div class="form-inline languages-profile">
                    ENGLISH -
                    ESPAÑOL -
                    PORTUGES
                </div>
            </nav>

        </div>

        <div class="color-degra" [ngStyle]=" { background: finalColor } "></div>

        <div class="container-content-profile">

            <div class="tab-switch">

                <div *ngIf="tab == 'home'">

                    <div style="padding:56.25% 0 0 0;position:relative;"><iframe
                            src="https://player.vimeo.com/video/441474151" frameborder="0" allow="autoplay; fullscreen"
                            allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
                    </div>

                    <div class="info-video">


                        <!-----
                        
                            
                            INSERTAR IMAGEN AQUÍ
                        
                    
                        
                        -->

                        <!-- <div class="info display-f">
                            <div class="info-title">
                                Alcanzando la Promesa
                            </div>
                            Laudjair Guerra
                        </div>

                        <div class="container-next">
                            Next<br>
                            Break
                        </div> -->

                    </div>
                    <div class="chat">
                        <app-chat></app-chat>
                    </div>

                    <!-- <div class="container-buttons">

                        <button class="btn bttn-gray btn-selected">
                            Notas
                        </button>
                        <button class="btn bttn-gray">
                            Biblia
                        </button>
                        <button class="btn bttn-gray">
                            Horario
                        </button>

                    </div> -->

                </div>

                <div class="container-prox" *ngIf="tab != 'home'">
                    <h2>
                        Próximamente...
                    </h2>
                </div>

                <!-- <app-tribus *ngIf="tab == 'tribus'"></app-tribus>
                <app-conferencistas *ngIf="tab == 'conferencistas'"></app-conferencistas>
                <app-talleres *ngIf="tab == 'talleres'"></app-talleres>
                <app-merch *ngIf="tab =='merch'"></app-merch> -->

            </div>

        </div>

    </div>

</div>