<app-navbar></app-navbar>
<div class="banner">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">
            <h1 class="title_banner">TALLERES</h1>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>
<div class="fondo_containt">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <p>ouygygoyg o8 g8g a8gsvo8gs ad aa gso sgsog 8ug sg sogus oug s gsugsug sdoug sdoug dsoug dsfoug sdfoug
                dsoug sdoug sdo8ugouygygoyg o8 g8g a8gsvo8gs ad aa gso sgsog 8ug sg sogus oug s gsugsug sdoug sdoug
                dsoug dsfoug sdfoug dsoug sdoug sdo8ug</p>
        </div>
    </div>
    <div class="row justify-content-md-center py-3">
        <div class="col-2">
            <img src="https://cdn.somosunogo.com/taller1_1.png" class="img-fluid" alt="">
        </div>
        <div class="col-4">
            <h2 class="titulo_taller">LIBERÁNDOME PARA LIDERAR A OTROS</h2>
            <a class="btnRegister">
                <div class="btn here">
                    Liderazgo
                </div>
            </a>
        </div>
    </div>

    <div class="row justify-content-md-center py-3">
        <div class="col-2">
            <img src="https://cdn.somosunogo.com/taller2.png" class="img-fluid" alt="">
        </div>
        <div class="col-4">
            <h2 class="titulo_taller">1.5 HIJOS Y 1 PERRO</h2>
            <p>El estigma del matrimonio en la sociedad.</p>
            <a class="btnRegister">
                <div class="btn here">
                    Parejas Jóvenes
                </div>
            </a>
        </div>
    </div>

    <div class="row justify-content-md-center py-3">
        <div class="col-2">
            <img src="https://cdn.somosunogo.com/taller2.png" class="img-fluid" alt="">
        </div>
        <div class="col-4">
            <h2 class="titulo_taller">¿CÓMO SER FELIZ SOLTERO?</h2>
            <p>LA VIDA ANTES DEL IDÓNE@</p>
            <a class="btnRegister">
                <div class="btn here">
                    Relaciones
                </div>
            </a>
        </div>
    </div>

    <div class="row justify-content-md-center py-3">
        <div class="col-2">
            <img src="https://cdn.somosunogo.com/taller3.png" class="img-fluid" alt="">
        </div>
        <div class="col-4">
            <h2 class="titulo_taller">1.5 HIJOS Y 1 PERRO</h2>
            <p>El estigma del matrimonio en la sociedad.</p>
            <a class="btnRegister">
                <div class="btn here">
                    Liderazgo
                </div>
            </a>
        </div>
    </div>

    <div class="row justify-content-md-center py-3">
        <div class="col-2">
            <img src="https://cdn.somosunogo.com/taller4.png" class="img-fluid" alt="">
        </div>
        <div class="col-4">
            <h2 class="titulo_taller">DEFENDIENDO MI FE EN UN MUNDO DE INTOLERANCIA</h2>
            <a class="btnRegister">
                <div class="btn here">
                    Bases firmes
                </div>
            </a>
        </div>
    </div>

    <div class="row justify-content-md-center py-3">
        <div class="col-2">
            <img src="https://cdn.somosunogo.com/taller5.png" class="img-fluid" alt="">
        </div>
        <div class="col-4">
            <h2 class="titulo_taller">APRENDIENDO A CONOCER A DIOS</h2>
            <a class="btnRegister">
                <div class="btn here">
                    Estudio Bíblico
                </div>
            </a>
        </div>
    </div>

    <div class="row justify-content-md-center py-3">
        <div class="col-2">
            <img src="https://cdn.somosunogo.com/taller6.png" class="img-fluid" alt="">
        </div>
        <div class="col-4">
            <h2 class="titulo_taller">5 TARROS DE BENDICIÓN</h2>
            <p>El estigma del matrimonio en la sociedad.</p>
            <a class="btnRegister">
                <div class="btn here">
                    Finanzas
                </div>
            </a>
        </div>
    </div>
</div>